<link rel="stylesheet" type="text/css"
      href="{{STATIC_URL}}/yui2/build/container/assets/skins/sam/container.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/button/assets/skins/sam/button.css"/>
<script src="{{STATIC_URL}}/yui2/build/connection/connection-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/element/element-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/button/button-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/container/container-min.js"></script>

<div style="display: none;" id="event_button_div">
    <input type="button" value="添加事件" id="add_event_button"/>
</div>

<div id="event_type_dialog" style="display: hidden;width: 600px;">
    <div class="hd">
        <p>添加事件类型</p>
    </div>
    <div class="bd">
        <div id="ajax_form_content" class="yui3-g" style="width:100%;text-align:left;">

        </div>
    </div>
</div>
<inupt type="hidden" id="widget_div_id" value="{{widget_div_id}}"></inupt>
<script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function () {


        var widgetId = YAHOO.util.Dom.get("widget_div_id").getAttribute("value"),
                eventTypeDialog = new YAHOO.widget.Panel('event_type_dialog', {close:true, fixedcenter:true, draggable:false, modal:true}),
                callback = {
                    success:function (o) {
                        alert(o.responseText);
                        eventTypeDialog.hide();
                    },
                    failure:function (o) {
                        alert("服务器异常,稍后再试!");
                        eventTypeDialog.hide();
                    }
                },
                addEventFormCallBack = {
                    success:function (o) {
                        YAHOO.util.Dom.get("ajax_form_content").innerHTML = o.responseText;
                    }
                };
        eventTypeDialog.render();
        eventTypeDialog.hide();
        YAHOO.util.Connect.asyncRequest('GET', '/event/eventtype/eventformcontent', addEventFormCallBack, null);
        YAHOO.util.Dom.get(widgetId).innerHTML = YAHOO.util.Dom.get("event_button_div").innerHTML;
        YAHOO.util.Event.addListener("submit_form", "click", function () {
            YAHOO.util.Connect.setForm(YAHOO.util.Dom.get("add_event_form"));
            YAHOO.util.Connect.asyncRequest('POST', '/event/eventtype/add', callback);
        });
        YAHOO.util.Event.addListener("add_event_button", "click", function () {
            eventTypeDialog.show();
        }, eventTypeDialog, true);
        YAHOO.util.Event.addListener("panel_cancel", "click", function () {
            eventTypeDialog.hide();
        }, eventTypeDialog, true);
    });
</script>