<link rel="stylesheet" type="text/css"
      href="{{STATIC_URL}}/yui2/build/container/assets/skins/sam/container.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/button/assets/skins/sam/button.css"/>
<script src="{{STATIC_URL}}/yui2/build/connection/connection-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/element/element-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/button/button-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/container/container-min.js"></script>

<div style="display:none;" id="event_button_div">
    <input type="button" value="编辑事件类型" id="add_event_button"/>
</div>

<div id="editEventDialog" style="display: none;width:600px;">


</div>
<script type="text/javascript">

</script>

