div.shadowed div.inner-boundary {
    background-color: #F4F4F4;
    background-image: url("http://2.envato-static.com/images/common/backgrounds/white_line.png?1311219806");
    background-repeat: repeat-x;
    margin: -2px 0 0 -2px;
}

ul {
    list-style: square outside none;
    border: 1px solid #FFFFFF;
}

li.web-template {
    background-color: #F4F4F4;
    border-bottom: 1px solid #D5D5D5;
    border-top: 1px solid #FFFFFF;
    font-size: 11px;
    list-style: none outside none;
    padding: 20px;
    position: relative;
}

.eventType {
    padding-right: 30px;
}