span#add_survey_button {
    padding-left: 0px;
    background: url("/static/backoffice/img/btnMain.gif") repeat-x scroll 0 0 #777777;
}

span.first-child {
    padding-left: 0px;
}

#add_survey_button-button {
    font-size: 12px;
    color: #FFFFFF;

}