<tr style="center center no-repeat;">
    <td>
        <div id="QuestionSection_28831429">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="QuestionDescription">{{survey_item.item_name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td id="questionErrorArea_{{survey_item.id}}" class="QuestionError AnswerText" colspan="6"></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr class="SurveyTableHeader">
                                    <td id="qWidthCtrl_28831429" style="width:30%"></td>
                                    {% for answer_value in survey_item.item_values %}
                                    <td width="14%" valign="top" class="AnswerText" id="matrix_header_135375651">
                                        {{ answer_value }}
                                    </td>
                                    {% endfor%}
                                </tr>
                                {% for answer in survey_item.answers %}
                                <tr class="AltAnswerText">
                                    <input type="hidden" value="{{answer.id}}" class="answer_id_element_{{survey_item.id}}"></input>
                                    <td style="padding-left:5px;">{{answer.question_text}}</td>
                                    {% for value in survey_item.item_values %}
                                        <td align="center" valign="top" class="AnswerText">
                                            <input type="RADIO" name="answer_{{answer.id}}" id="answer_{{answer.id}}_{{forloop.counter0}}" value="{{value}}">
                                            </input>
                                        </td>
                                    {%endfor%}
                                </tr>
                                {% endfor %}

                               </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </td>
</tr>

<script type="text/javascript">
    function submitData_{{survey_item.id}}() {
        var answerIdElements = YAHOO.util.Dom.getElementsByClassName("answer_id_element_{{survey_item.id}}"),
                valueSize = {{survey_item.item_values|length}},
        answerIdCollection = '',
        answerValue = null;
        YAHOO.util.Dom.get("questionErrorArea_"+{{survey_item.id}}).innerHTML = ""
        for(var i=0;i<answerIdElements.length;i++) {
            var answerId = answerIdElements[i].value;
            answerIdCollection+= answerId + "&";
            for(var j=0;j<valueSize;j++) {
                if(YAHOO.util.Dom.get("answer_"+answerId+"_"+j).checked) {
                    var answerValue =YAHOO.util.Dom.get("answer_"+answerId+"_"+j).value;
                    YAHOO.util.Dom.get("surveyItem_{{survey_item.id}}_answer_"+answerId+"_value").value = answerValue;
                }
            }
        }
        YAHOO.util.Dom.get("surveyItem_"+{{survey_item.id}}+"_answer_id_collection").value = answerIdCollection.substr(0,answerIdCollection.length-1);
    }

    function validate_{{survey_item.id}}() {
        var answerIdElements = YAHOO.util.Dom.getElementsByClassName("answer_id_element_{{survey_item.id}}"),
        valueSize = {{survey_item.item_values|length}};
        YAHOO.util.Dom.get("questionErrorArea_"+{{survey_item.id}}).innerHTML = ""
        for(var i=0;i<answerIdElements.length;i++) {
            var answerId = answerIdElements[i].value,
            empty = true;
            for(var j=0;j<valueSize;j++) {
                if(YAHOO.util.Dom.get("answer_"+answerId+"_"+j).checked) {
                    empty = false;
                }
            }
            if(empty == true) {
                YAHOO.util.Dom.get("questionErrorArea_"+{{survey_item.id}}).innerHTML = "此选项必填";
                return false;
            }
        }
    }


    if("{{survey_item.is_required}}"=="True")
    {
        validateEvent.subscribe(validate_{{survey_item.id}});
    }
    submitEvent.subscribe(submitData_{{survey_item.id}});
</script>