<tr>
    <td>
        <div id="QuestionSection_28831425">
            <a style="text-decoration:none;"> &nbsp; </a>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="QuestionText">{{survey_item.item_name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td id="survey_error_{{survey_item.id}}" class="QuestionError"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            {% for answer in survey_item.answers %}
                            <tr>
                                <td class="AnswerText">
                                    <div class="" id="AnswerRow_135375634" style="width:100%;">
                                        <table>
                                            <tbody>
                                                <tr valign="top">
                                                    <td style="padding-top:5px;" valign="top">
                                                        <div style="width:20px;">
                                                            <input value="{{answer.question_value}}"  id="survey_{{survey_item.id}}_answer_{{answer.id}}" type="CHECKBOX"/>
                                                        </div>
                                                    </td>
                                                    <td class="AnswerText" style="padding-top:5px;" valign="top">
                                                        <span style="cursor:pointer;cursor:hand;">
                                                            <div>
                                                                <div style="margin-left:10px;">
                                                                    {{answer.question_text}}
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </td>
                                                    <td style="padding-left:20px;" valign="center"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <input type="hidden" class="survey_item_{{survey_item.id}}_answer_list" value="{{answer.id}}"/>
                            {% endfor %}
                            {%if survey_item.other_answer %}
                            <tr>
                                <td class="AnswerText">
                                    <div class="allRoundCorners" id="AnswerRow_135375714" style="width:100%;">
                                        <table>
                                            <tbody>
                                            <tr valign="top">
                                                <td style="padding-top:5px;" valign="top">
                                                    <div style="width:20px;">
                                                        <input name="survey_item_{{survey_item.id}}" onclick="click_checkbox_{{survey_item.id}}()" id="survey_item_{{survey_item.id}}_other" type="checkbox" value="OTHER"></input>
                                                    </div>
                                                </td>
                                                <td class="AnswerText" style="padding-top:5px;" valign="top">
                                                    <span style="cursor:pointer;cursor:hand;">
                                                        <div>
                                                            <div style="margin-left:10px;">
                                                                <label style="cursor:pointer;cursor:hand;" for="survey_item_{{survey_item.id}}_other">其他选项</label>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </td>
                                                <td style="padding-left:20px;" valign="center">
                                                    <input type="text" id="survey_item_{{survey_item.id}}_other_text" style="width:320px;height:24px;"></input>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            {%endif%}
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </td>
    <input type="hidden" id="isRequired_{{survey_item.id}}" value="{{survey_item.is_required}}"/>
    <input type="hidden" id="other_{{survey_item.id}}" value="{{survey_item.other_answer}}"/>
</tr>
<tr>
    <td>
        <div class="SurveyDivider">&nbsp;</div>
    </td>
</tr>

<script type="text/javascript">
    function click_checkbox_{{survey_item.id}}() {

        var checkbox = YAHOO.util.Dom.get("survey_item_"+{{survey_item.id}}+"_other");
        if(!checkbox.checked) {
            YAHOO.util.Dom.get("survey_item_"+{{survey_item.id}}+"_other_text").value == "";
        }
    }

    function fireSubmit() {
        var surveyItemId = {{survey_item.id}},
        answerList = YAHOO.util.Dom.getElementsByClassName("survey_item_" + surveyItemId + "_answer_list"),
                errorArea = YAHOO.util.Dom.get("survey_error_" + surveyItemId);
        errorArea.innerHTML= "",
        checkElementCount = 0;
        selectedValue = "";
        for(var i=0;i<answerList.length;i++) {
            var answerId = answerList[i].value;
            checkbox = YAHOO.util.Dom.get("survey_"+surveyItemId+"_answer_"+answerId);
            if(checkbox.checked) {
                selectedValue+="&"+checkbox.value;
                ++checkElementCount;
            }
        }

        var otherAnswer = YAHOO.util.Dom.get("other_"+surveyItemId).value;
        if (otherAnswer &&YAHOO.util.Dom.get("survey_item_"+surveyItemId+"_other").checked && YAHOO.util.Dom.get("survey_item_"+surveyItemId+"_other_text").value.length > 0) {
            selectedValue+="&"+YAHOO.util.Dom.get("survey_item_"+surveyItemId+"_other_text").value;
            YAHOO.util.Dom.get("surveyItemAnswers").value = surveyItemAnswer;
            ++checkElementCount;
        }

        if(checkElementCount==0)
        {
            errorArea.innerHTML="此选项必填";
            return false;
        }
        else
        {
            var surveyItemIds = YAHOO.util.Dom.get("surveyItemIds").value;
            surveyItemIds+="::"+surveyItemId;
            YAHOO.util.Dom.get("surveyItemIds").value = surveyItemIds;
            var surveyItemAnswer =  YAHOO.util.Dom.get("surveyItemAnswers").value;
            surveyItemAnswer+="::"+selectedValue;
            YAHOO.util.Dom.get("surveyItemAnswers").value = surveyItemAnswer;
            return true;
        }

    }
    customEvent.subscribe(fireSubmit);
</script>