<tr>
    <td>
        <div id="QuestionSection_28831425">
            <a style="text-decoration:none;"> &nbsp; </a>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                {% for answer in survey_item.answers %}
                <tr>
                    <td colspan="3">
                        <table>
                            <tbody>
                            <tr>
                                <td id="28831438" colspan="2" class="QuestionText" valign="top">
                                    <div class="QuestionText" style="margin:0px;padding:0px 20px 0px 0px; ;">
                                        test-{{answer.question_text}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td id="survey_error_{{survey_item.id}}_{{answer.id}}" class="QuestionError"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="AnswerText">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td class="AnswerText" valign="center"></td>
                                            <td class="AnswerText">
                                                <input type="text" class="surveyAnswer"  id="survey_item_{{survey_item.id}}_answer_{{answer.id}}" style="width:400px;"></input>
                                            </td>
                                            <td class="AnswerText" valign="center"> &nbsp; </td>
                                        </tr>
                                        <tr></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </td>
    <input type="hidden" id="isRequired_{{survey_item.id}}" value="{{survey_item.is_required}}"/>
</tr>
<tr>
    <td>
        <div class="SurveyDivider">&nbsp;</div>
    </td>
</tr>

<script type="text/javascript">
    function fireSubmit_{{survey_item.id}}() {
        var surveyAnswerList = YAHOO.util.Dom.getElementsByClassName("surveyAnswer");
        for(var i=0;i<surveyAnswerList.length;i++)
        {
            var surveyAnswer = surveyAnswerList[i],
            answerId = surveyAnswer.id.substr(surveyAnswer.id.lastIndexOf("_")+1,surveyAnswer.id.length),
            surveyErrorElement = YAHOO.util.Dom.get("survey_error_"+{{survey_item.id}}+"_"+answerId);
            if(surveyAnswer.value.length < 1 && "{{survey_item.is_required}}" == "True") {
                surveyErrorElement.innerHTML="此选项必填";
                return false;
            }
            surveyErrorElement.innerHTML="";
        }

        var surveyItemIds = YAHOO.util.Dom.get("surveyItemIds").value;
        surveyItemIds+="::"+{{survey_item.id}};
        YAHOO.util.Dom.get("surveyItemIds").value = surveyItemIds;
        var surveyItemAnswer =  YAHOO.util.Dom.get("surveyItemAnswers").value;
        surveyItemAnswer+="::";
        YAHOO.util.Dom.get("surveyItemAnswers").value = surveyItemAnswer;
        for(var i=0;i<surveyAnswerList.length;i++)
        {
            var surveyAnswer = surveyAnswerList[i],
            answerId = surveyAnswer.id.substr(surveyAnswer.id.lastIndexOf("_")+1,surveyAnswer.id.length);

            var surveyItemIds = YAHOO.util.Dom.get("surveyItemIds").value;
            surveyItemIds+="&&"+answerId;
            YAHOO.util.Dom.get("surveyItemIds").value = surveyItemIds;

            var answerValue = YAHOO.util.Dom.get("survey_item_{{survey_item.id}}_answer_"+answerId).value;
            var surveyItemAnswer =  YAHOO.util.Dom.get("surveyItemAnswers").value;
            surveyItemAnswer+="&&"+answerValue;
            YAHOO.util.Dom.get("surveyItemAnswers").value = surveyItemAnswer;
        }
    }

    function submitData_{{survey_item.id}}() {
        var surveyAnswerList = YAHOO.util.Dom.getElementsByClassName("surveyAnswer");
        for(var i=0;i<surveyAnswerList.length;i++){
            var surveyAnswer = surveyAnswerList[i],
            answerId = surveyAnswer.id.substr(surveyAnswer.id.lastIndexOf("_")+1,surveyAnswer.id.length),
            answerValue = YAHOO.util.Dom.get("survey_item_{{survey_item.id}}_answer_"+answerId).value;
            var surveyItemIds = YAHOO.util.Dom.get("surveyItem_{{survey_item.id}}_answer_id_collection").value;
            surveyItemIds+=answerId + "&";
            YAHOO.util.Dom.get("surveyItem_{{survey_item.id}}_answer_id_collection").value = surveyItemIds;
            YAHOO.util.Dom.get("survey_item_{{survey_item.id}}_answer_"+answerId + "_value").value = answerValue;
        }
    }
    function validate_{{survey_item.id}}() {
        var surveyAnswerList = YAHOO.util.Dom.getElementsByClassName("surveyAnswer");
        for(var i=0;i<surveyAnswerList.length;i++)
        {
            var surveyAnswer = surveyAnswerList[i],
            answerId = surveyAnswer.id.substr(surveyAnswer.id.lastIndexOf("_")+1,surveyAnswer.id.length),
            surveyErrorElement = YAHOO.util.Dom.get("survey_error_"+{{survey_item.id}}+"_"+answerId);
            if(surveyAnswer.value.length < 1) {
                surveyErrorElement.innerHTML="此选项必填";
                return false;
            }
            surveyErrorElement.innerHTML="";
        }
        return true;
    }


    if("{{survey_item.is_required}}"=="True")
    {
        validateEvent.subscribe(validate_{{survey_item.id}});
    }
    submitEvent.subscribe(submitData_{{survey_item.id}});
</script>