<tr>
    <td>
        <div id="QuestionSection_28831425">
            <a style="text-decoration:none;"> &nbsp; </a>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="QuestionText">{{survey_item.item_name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td id="survey_error_{{survey_item.id}}" class="QuestionError"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            {% for answer in survey_item.answers %}
                            <tr>
                                <td class="AnswerText">
                                    <div class="" id="AnswerRow_135375633"
                                         style="width:100%;">
                                        <table>
                                            <tbody>
                                            <tr valign="top">
                                                <td style="padding-top:5px;" valign="top">
                                                    <div style="width:20px;">
                                                        <!-- Comment: component start -->
                                                        <input value="{{answer.question_value}}" id="question_answer_{{answer.id}}" type="RADIO">
                                                        </input>
                                                        <!-- Comment: component end -->
                                                    </div>
                                                </td>
                                                <td class="AnswerText" style="padding-top:5px;" valign="top">
                                                    <span style="cursor:pointer;cursor:hand;">
                                                        <div>
                                                            <div style="margin-left:10px;">
                                                                {{answer.question_text}}
                                                            </div>
                                                        </div>
                                                    </span>
                                                </td>
                                                <td style="padding-left:20px;" valign="center"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {%if survey_item.other_answer %}
                            <tr>
                                <td class="AnswerText">
                                    <div class="allRoundCorners" id="AnswerRow_135375714" style="width:100%;">
                                        <table>
                                            <tbody>
                                            <tr valign="top">
                                                <td style="padding-top:5px;" valign="top">
                                                    <div style="width:20px;">
                                                        <input name="u_28831441" value="135375714" id="135375714ID" type="RADIO">
                                                    </div>
                                                </td>
                                                <td class="AnswerText" style="padding-top:5px;" valign="top">
                                                    <span style="cursor:pointer;cursor:hand;">
                                                        <div>
                                                            <div style="margin-left:10px;">
                                                                其他
                                                            </div>
                                                        </div>
                                                    </span>
                                                </td>
                                                <td style="padding-left:20px;" valign="center">
                                                    <textarea id="qWidthCtrl_135375714" style="width:320px;height:24px;" "="" name="t_135375714"></textarea>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            {%endif%}
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </td>
    <input type="hidden" id="isRequired" value="{{survey_item.is_required}}"/>

</tr>
<tr>
    <td>
        <div class="SurveyDivider">&nbsp;</div>
    </td>
</tr>
<script type="text/javascript">

</script>