<tr>
    <td>
        <div id="QuestionSection_28831425">
            <a style="text-decoration:none;"> &nbsp; </a>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <table>
                                <tbody>
                                <tr>
                                    <td id="28831438" colspan="2" class="QuestionText" valign="top">
                                        <div class="QuestionText" style="margin:0px;padding:0px 20px 0px 0px; ;">
                                            {{survey_item.item_name}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="survey_error_{{survey_item.id}}" class="QuestionError"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="AnswerText">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td class="AnswerText" valign="center"></td>
                                                <td class="AnswerText">
                                                    <textarea id="survey_item_{{survey_item.id}}_answer" style="width:480px;height:80px;" ></textarea>
                                                </td>
                                                <td class="AnswerText" valign="center"> &nbsp; </td>
                                            </tr>
                                            <tr></tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </td>
    <input type="hidden" id="isRequired_{{survey_item.id}}" value="{{survey_item.is_required}}"/>
</tr>
<tr>
    <td>
        <div class="SurveyDivider">&nbsp;</div>
    </td>
</tr>

<script type="text/javascript">
    function fireSubmit() {
        var textArea = YAHOO.util.Dom.get("survey_item_"+{{survey_item.id}}+"_answer"),
        errorArea = YAHOO.util.Dom.get("survey_error_" + {{survey_item.id}});
        errorArea.innerHTML= "";
        if("{{survey_item.is_required}}"=="True" && textArea.innerHTML.length < 1)
        {
            errorArea.innerHTML="此选项必填";
            return false;
        }
        var surveyItemIds = YAHOO.util.Dom.get("surveyItemIds").value;
        surveyItemIds+="::"+{{survey_item.id}};
        YAHOO.util.Dom.get("surveyItemIds").value = surveyItemIds;
        var surveyItemAnswer = YAHOO.util.Dom.get("surveyItemAnswers").value;
        surveyItemAnswer+="::"+textArea.value;
        YAHOO.util.Dom.get("surveyItemAnswers").value = surveyItemAnswer;
    }
    customEvent.subscribe(fireSubmit);
</script>