{% load static %}
{% get_static_prefix as STATIC_URL %}
<html>
<head>
    <title>
    问卷调查
    </title>
    {% if authenticated == 'false' %}
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui/cssreset/cssreset-min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui/cssbase/cssbase-min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui/cssgrids/grids-min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}/backofficd/css/base.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/container/assets/skins/sam/container.css"/>
    {% else %}
        <link rel="stylesheet" href="{{STATIC_URL}}/survey/css/base.css" type="text/css"/>
    {% endif%}
    <script src="{{STATIC_URL}}/yui2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script src="{{STATIC_URL}}/yui2/build/container/container-min.js"></script>
</head>
{% if authenticated == 'false' %}
<body class="yui-skin-sam">
{% else %}
<body class="SurveyRunBody">
{% endif %}
    <script type="text/javascript">
        var customEvent = new YAHOO.util.CustomEvent("pageSave");
    </script>
    {% if authenticated == 'false' %}
        <div id="login_panel">
            <div class="bd yui3-g">
                <form action="/survey/login" id="login_form" method="POST" style="width: 450px;">
                    <div>
                        <div class="yui3-u-1-5" style="text-align: left;">用户名</div>
                        <div class="yui3-u-4-5" style="text-align: left"><input type="text" name="username"></input></div>
                    </div>
                    <div style="padding-top: 20px;">
                        <div class="yui3-u-1-5" style="text-align: left">密码</div>
                        <div class="yui3-u-4-5" style="text-align: left"><input type="text" name="password"></input></div>
                    </div>
                    <input type="hidden" name="token" value="{{token}}"></input>
                </form>
                <div class="yui3-u-1-1" style="padding-top: 20px; text-align: left;">
                    <button id="login_button">登入</button>
                </div>
            </div>
        </div>

        {%if incorrect_user%}
            <script type="text/javascript">
                alert("链接地址有误");
            </script>
        {% endif %}

    {% else %}
        <table align="center" width="750" cellspacing="0" cellpadding="0" style="margin-top: 40px;">
            <tbody>
                <tr>
                    <td valign="top">
                        <table align="center" width="750" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="SurveyContent">
                                        <div id="SurveyAjaxContainer">
                                            <!-- Comment: Start head top -->
                                            <table align="center" width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="QuestionText">

                                                                    </td>
                                                                    <td class="QuestionText" align="right">

                                                                        <a href="/a/ExitSurvey?id=3145674">
                                                                            Exit Survey
                                                                            &nbsp;»
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!-- Comment: End head top -->
                                            <!-- Comment: Start head middle -->
                                            <table align="center" width="100%">
                                                <tbody><tr>
                                                    <td width="33%">
                                                    </td>
                                                    <td align="CENTER" width="33%">
                                                        <table width="100%">
                                                            <tbody><tr>
                                                                <td align="center" class="SurveyHeader" style="font-size: 16px;">
                                                                    {{survey.survey_name}}
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                    <td width="33%">
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                            <!-- Comment: End head middle -->
                                            <!-- Comment: Start form -->
                                            <form class="nyroModal" name="run" action="/a/TakeSurvey" method="post">

                                                <!-- Comment: start form top -->
                                                <table align="center" width="100%" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td style="padding: 20px">
                                                            <table align="center" width="100%" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="SurveyHeader">
                                                                            <hr>
                                                                        </td>
                                                                    </tr>
                                                                    <!-- Comment: survey item start -->
                                                                    {%for survey_item in survey_item_collection %}
                                                                        {% if survey_item.item_type == 'MULTIPLE_CHOICE' %}
                                                                            {% include "www/survey_item_template/multiple_choice_query_template.html" with survey_item=survey_item survey=survey%}
                                                                        {% endif %}

                                                                        {% if survey_item.item_type == 'SINGLE_CHOICE' %}
                                                                            {% include "www/survey_item_template/single_choice_query_template.html" with survey_item=survey_item survey=survey  idx=forloop.counter%}
                                                                        {% endif %}

                                                                        {% if survey_item.item_type == 'TEXT' %}
                                                                            {% include "www/survey_item_template/text_query_template.html" with survey_item=survey_item idx=forloop.counter%}
                                                                        {% endif %}

                                                                        {% if survey_item.item_type == 'TEXT_AREA' %}
                                                                            {% include "www/survey_item_template/textarea_query_template.html" with survey_item=survey_item idx=forloop.counter%}
                                                                        {% endif %}

                                                                        {% if survey_item.item_type == 'MULTIPLE_TEXT' %}
                                                                            {% include "www/survey_item_template/multi_text_query_template.html" with survey_item=survey_item idx=forloop.counter%}
                                                                        {% endif %}


                                                                        {% if survey_item.item_type == 'METRIX' %}
                                                                            {% include "www/survey_item_template/metrix_query_template.html" with survey_item=survey_item idx=forloop.counter%}
                                                                        {% endif %}
                                                                    {% endfor %}

                                                                    <!-- Comment: survey item end -->
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- Comment: end form top -->

                                                <!-- Comment: start form bottom -->
                                                <table align="center" width="100%" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <div id="SurveySubmitButton">
                                                                    <input type="button" value="Continue" name="submitButton" onclick="survey_submit()" id="SurveySubmitButtonElement">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- Comment: end form bottom -->
                                                <table align="center" width="100%" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 20px;" class="SurveyFooter">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- Comment: end form bottom -->
                                            </form>
                                            <!-- Comment: End form -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="SurveyTopToolbar"></div>
    {% endif %}
<input type="hidden" id="is_authenticated" value="{{authenticated}}"/>
<input type="hidden" id="login_error" value="{{login_error}}"/>

<script type="text/javascript">
    function fire_login_event()
    {
        YAHOO.util.Dom.get("login_form").submit();
    }
    function init() {
        if(YAHOO.util.Dom.get("is_authenticated").value == 'false')
        {
            var loginPanel = new YAHOO.widget.Panel('login_panel', {close:false, fixedcenter:true, draggable:false, modal:true});
            loginPanel.render();
            loginPanel.show();
            YAHOO.util.Event.addListener("login_button", "click", fire_login_event);
            if(YAHOO.util.Dom.get("login_error").value == 'true')
            {
                alert("用户名密码错误，请重新登入")
            }
        }
    }

    function survey_submit() {
        customEvent.fire();
    }


    YAHOO.util.Event.onDOMReady(init);
</script>
</body>
</html>