{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}
<div id="content-main">
        {% for app in app_list %}
            {% ifequal app.name 'Lesson'%}
            <div class="module">

                <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
                    <caption class="section">课程管理</caption>
                    {% for model in app.models %}
                    <tr>
                        {% if model.perms.change %}
                        <th scope="row"><a href="{{ model.admin_url }}">察看所有课程信息</a></th>
                        {% else %}
                        <th scope="row">{{ model.name }}</th>
                        {% endif %}

                        {% if model.perms.add %}
                        <td><a href="{{ model.admin_url }}add/" class="addlink">添加课程</a></td>
                        {% else %}
                        <td>&nbsp;</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
             </div>
            {% endifequal %}
        {% endfor %}
</div>
{% endblock %}
