{% load static %}
{% get_static_prefix as STATIC_URL %}
<html>
<head>
    <title>课程选修</title>
    <script src="{{STATIC_URL}}/yui-min.js"></script>
    <style type="text/css">
        body {
            margin:auto;
            width: 960px;
        }
    </style>
</head>
<body>
{% for course in course_list.object_list %}

课程名 : <a href="/{{course.id}}">{{ course.courseName|escape}}</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% if course.courseWare %}
<a href="/course/download/?file={{course.courseWare.name|escape}}">下载课件</a>
{% endif %}
<br/><br/>
课时: {{course.courseTime}} &nbsp;&nbsp; 主讲人: {{ course.courseSpeaker }}<br/><br/>
课程安排 : {{course.courseArrange}}
<br/>

<br/>
课程介绍 :{{course.courseDescription|escape}}
<br/>
<br/>
{% if course.id in allow_course_id_list%}
<form action="/book/" method="post">
    {% csrf_token %}
    邮箱地址:<input name="email"/>
    <input type="hidden"value='{{course.id}}' name="course_id"/>
    <input type="submit" value="我要报名">
</form>
{% endif %}

<hr>



{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if course_list.has_previous %}
            <a href="?page={{ course_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ course_list.number }} of {{ course_list.paginator.num_pages }}.
        </span>

        {% if course_list.has_next %}
            <a href="?page={{ course_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</body>
</html>