{% load static %}
{% get_static_prefix as STATIC_URL %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn" xml:lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <title>Silver Blog | Free WordPress Theme</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lesson.css"/>
    <script src="{{STATIC_URL}}yui/yui-min.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script src="{{ STATIC_URL }}js/belatedPNG.js"></script>
    <script>
        DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
</head>
<body>
<section id="page">
    <section id="subpage">
        <div id="pagewrap">
            <section id="sidebar"></section>
            <section id="contents">
                <header id="mainheader">
                    <h1>Life<span>Book</span></h1>
                </header>
                <section id="main">
                    {% for course in course_list.object_list %}
                    <article class="post">
                        <header>
                            <h2><a href="#">{{ course.courseName|escape}}</a></h2>

                            <p class="postinfo"> 课时: {{course.courseTime}} &nbsp; |
                                主讲人: {{ course.courseSpeaker }}&nbsp; | 发布时间：
                                <time>{{ course.createDate }}</time>
                                &nbsp;| 听课名额： {{course.maxTraineeAmount}} .
                            </p>
                        </header>
                        <section class="entry">
                            <p>课程介绍 :{{course.courseDescription|escape|truncatewords_html:8}} <a href="###">展开</a></p>

                            <p style="display: none;">课程介绍 :{{course.courseDescription|escape}} <a href="###">收起</a></p>
                            <span>
                                {% if course.courseWare %}
                                  <a href="/course/download/?file={{course.courseWare.name|escape}}">下载课件</a>
                                {% endif %}
                                {% if course.courseWare  and  course.id in allow_course_id_list%}
                                    |
                                {% endif %}
                                {% if course.id in allow_course_id_list%}
                                        <a href="###" class="bookCourse" id="{{course.id}}">我要报名</a>
                                {% endif %}
                            </span>

                        </section>
                    </article>
                    {% endfor %}
                    <div class="wp-pagenavi">
                     {% if course_list.home_page%}
                        <a href="?page=1" title="首页">首页</a>
                     {% endif %}
                     {% for index in course_list.page_range %}

                         {% if index == course_list.number %}
                                 <span class="current">{{index}}</span>
                         {% else %}
                               <a href="?page={{index}}" title="第{{index}}页">{{index}}</a>
                         {%endif%}

                    {% endfor %}
                        {% if course_list.end_page%}
                        <a href="?page={{course_list.pageCount}}" title="尾页">尾页</a>
                        {% endif %}
                        共 {{course_list.pageCount}} 页 {{course_list.paginator.count}} 条记录
                    </div>
                    <div class="clear"></div>
                </section>
                <footer id="pagefooter">
                    <div class="footerwrap">
                        <p class="siteinfo">
                            2010 &copy; All Rights Reserved | Your Website Info and copyright information goes here.
                        </p>
                    </div>
                    <div id="credits">
                        <a href="http://cssheaven.org" title="download quality website templates">Free Website Template
                            by CSS Heaven</a></div>
                </footer>
            </section>

            <div class="clear"></div>
        </div>
    </section>
</section>
     <span id='bookArea' style="display: none" class='dd'>
            <form action="/book/" method="post" id="book">
                {% csrf_token %}
                <input type="hidden" value='' name="course_id" id="course_id"/>

                <p class="textfield">
                    邮箱地址：<input name="email" id="email">
                    <label for="email">
                        <small></small>
                    </label>
                </p>
                <input type="button" value="确认报名" class="btn2">
            </form>
    </span>
<script type="text/javascript">
    YUI().use('node', 'io-base', function (Y) {
        Y.all('.entry p a').on('click', function (e) {
            e.preventDefault();
            var p = e.currentTarget.get('parentNode');
            p.hide();
            p.next('p') == null ? p.previous('p').show() : p.next('p').show();
        });

        Y.all('.bookCourse').on('click', function (e) {
            e.preventDefault();
            var bookForm = Y.one("#bookArea");
            var course_id = e.currentTarget.get('id');
            bookForm.one("#email").set("value", "");
            bookForm.one("small").setContent("");
            var isSpan = e.currentTarget.get('parentNode').next('span');
            if (isSpan != null) {
                isSpan.getStyle("display") == 'none' ? isSpan.show() : isSpan.hide();
                return false;
            }
            bookForm.one("#course_id").set("value", course_id);
            bookForm.appendTo(e.currentTarget.get('parentNode').get('parentNode')).show()
        });

        Y.all('.btn2').on('click', function (e) {
            e.preventDefault();
            var bookForm = Y.one("#bookArea");
            bookForm.one("small").setContent("");
            var value = bookForm.one("#email").get("value");

            var reg = (/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/);

            if (!reg.test(value)) {
                bookForm.one("small").setContent("请填写正确的邮箱");
                return;
            }
            //bookForm.hide();
            var formObject = bookForm.one("form");

            function serializeForm () {
                var params = {};
                var items = formObject.all("input");
                items.each(function (input) {
                    if (input.get("type") != 'button') {
                        params[input.get("name")] = input.get("value");
                    }
                });
                return params;
            }

            var cfg = {
                method:'POST',
                data:serializeForm()
            };

            function showMsg(msg){
                bookForm.one("small").setContent(msg);
            }

            function complete(id, o, args) {
                var code = o.responseText;
                switch (code){
                    case '200':
                        showMsg("恭喜你，选课已经确认");
                        break;
                    case '409':
                        showMsg("你已经选过该课程，无法再次选择");
                        break;
                    case '400':
                        showMsg("请填写正确的邮箱");
                        break;
                    case '403':
                        showMsg("提交被禁止，不正当提交信息");
                        break;
                    case '404':
                        showMsg("该课程无法报名，课程报名日期不合法");
                        break;
                    default :
                        showMsg(code);
                        break;
                }
                setTimeout(function() {bookForm.hide()}, 3000);
            }

            Y.on('io:complete', complete, Y);

            var request = Y.io(formObject.get("action"), cfg);

        });
    });
</script>
</body>
</html>
