{% load static %}
{% get_static_prefix as STATIC_URL %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn" xml:lang="zh-cn" >
<head>
    <meta charset="UTF-8" />
    <title>Silver Blog | Free WordPress Theme</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lesson.css" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script src="{{ STATIC_URL }}js/belatedPNG.js"></script>
    <script>
        DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
</head>

<body>

<section id="page">
    <section id="subpage">
        <div id="pagewrap">

            <section id="sidebar">

            </section>

            <section id="contents">

                <header id="mainheader">

                    <h1>Life<span>Book</span></h1>
                </header>


                <section id="main">
                    <article class="post">
                        <header>
                            <h2><a href="#">Blog Post Title</a></h2>
                            <p class="postinfo">Category Name |  <time>12 June 2011</time>   |  22 Comments</p>

                        </header>
                        <section class="entry">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus dui vitae nunc semper ac posuere arcu ultrices. Aliquam nisi odio, interdum ut scelerisque at, placerat sit amet ante. Nam vehicula vehicula malesuada. Quisque euismod consequat dolor, non posuere erat ultrices eget. Aliquam a est sit amet magna venenatis pellentesque. Duis aliquam auctor augue, et semper sem consequat sit amet.  <a href="#">Read More</a></p>

                        </section>
                    </article>

                    <article class="post">
                        <header>
                            <h2><a href="#">Blog Post Title</a></h2>
                            <p class="postinfo">Category Name |  <time>12 June 2011</time>   |  22 Comments</p>

                        </header>
                        <section class="entry">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus dui vitae nunc semper ac posuere arcu ultrices. Aliquam nisi odio, interdum ut scelerisque at, placerat sit amet ante. Nam vehicula vehicula malesuada. Quisque euismod consequat dolor, non posuere erat ultrices eget. Aliquam a est sit amet magna venenatis pellentesque. Duis aliquam auctor augue, et semper sem consequat sit amet. <a href="#">Read More</a></p>

                        </section>
                    </article>

                    <article class="post">
                        <header>
                            <h2><a href="#">Blog Post Title</a></h2>
                            <p class="postinfo">Category Name |  <time>12 June 2011</time>   |  22 Comments</p>

                        </header>
                        <section class="entry">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus dui vitae nunc semper ac posuere arcu ultrices. Aliquam nisi odio, interdum ut scelerisque at, placerat sit amet ante. Nam vehicula vehicula malesuada. Quisque euismod consequat dolor, non posuere erat ultrices eget. Aliquam a est sit amet magna venenatis pellentesque. Duis aliquam auctor augue, et semper sem consequat sit amet.  <a href="#">Read More</a></p>

                        </section>
                    </article>

                    <article class="post">
                        <header>
                            <h2><a href="#">Blog Post Title</a></h2>
                            <p class="postinfo">Category Name |  <time>12 June 2011</time>   |  22 Comments</p>

                        </header>
                        <section class="entry">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus dui vitae nunc semper ac posuere arcu ultrices. Aliquam nisi odio, interdum ut scelerisque at, placerat sit amet ante. Nam vehicula vehicula malesuada. Quisque euismod consequat dolor, non posuere erat ultrices eget. Aliquam a est sit amet magna venenatis pellentesque. Duis aliquam auctor augue, et semper sem consequat sit amet.  <a href="#">Read More</a></p>

                        </section>
                    </article>

                    <article class="post">
                        <header>
                            <h2><a href="#">Blog Post Title</a></h2>
                            <p class="postinfo">Category Name |  <time>12 June 2011</time>   |  22 Comments</p>

                        </header>
                        <section class="entry">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus dui vitae nunc semper ac posuere arcu ultrices. Aliquam nisi odio, interdum ut scelerisque at, placerat sit amet ante. Nam vehicula vehicula malesuada. Quisque euismod consequat dolor, non posuere erat ultrices eget. Aliquam a est sit amet magna venenatis pellentesque. Duis aliquam auctor augue, et semper sem consequat sit amet.  <a href="#">Read More</a></p>

                        </section>
                    </article>

                    <div class="wp-pagenavi">
                        <span class="current">1</span><a href="/page/2/" title="2">2</a><a href="/page/3/" title="3">3</a><a href="/page/4/" title="4">4</a><a href="/page/5/" title="5">5</a><a href="/page/6/" title="6">6</a><a href="/page/7/" title="7">7</a><a href="/page/8/" title="8">8</a><a href="/page/2/">Next &raquo;</a><span class="extend">...</span><a href="/page/27/" title="Last &raquo;">Last &raquo;</a></div>
                    <div class="clear"></div>


                </section>
                <footer id="pagefooter">
                    <div class="footerwrap">
                        <p class="siteinfo">

                            2010 &copy; All Rights Reserved | Your Website Info and copyright information goes here.
                        </p>
                    </div>
                    <div id="credits">
                        <a href="http://cssheaven.org" title="download quality website templates">Free Website Template by CSS Heaven</a></div>


                </footer>
            </section>

            <div class="clear"></div>
        </div>
    </section>
</section>
</body>
</html>
