{% load static %}
{% get_static_prefix as STATIC_URL %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn" xml:lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <title> 锦江电商 | 选课系统 </title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui/cssgrids/grids-min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/lesson.css"/>
    <script src="{{STATIC_URL}}/yui/yui-min.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script src="{{ STATIC_URL }}/js/belatedPNG.js"></script>

    <script>
        DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
</head>
<body>
<section id="page">
    <section id="subpage">
        <div id="pagewrap">
            <section id="sidebar"></section>
            <section id="contents">
                <header id="mainheader">
                    <h1>Smart-J 课堂</h1>
                    <span class="searchArea">
                       <form action="/" method="get" {% if not isSearch %} target="_blank" {% endif %}>
                           <p class="search_textfield">
                               <select name="searchType">
                                   {%for key,value in search_type.items %}
                                   {% if value == current_search_type%}
                                   <option value="{{key}}" selected>{{value}}</option>
                                   {% else %}
                                   <option value="{{key}}">{{value}}</option>
                                   {% endif %}
                                   {%endfor%}
                               </select>
                               <input name="searchContent" class="search_content" value="{{searchContent}}">
                               <input type="button" value=" 搜 索 " class="btn2">
                           </p>
                        </form>
                    </span>
                </header>
                <section id="main">
                    {% if isSearch %}
                    <div class="search_result">搜索 “
                        <small>{{current_search_type}}</small>
                        ” 为 “
                        <small>{{searchContent}}</small>
                        ” 结果共 {{course_list.pageCount}} 页 {{course_list.paginator.count}} 条记录
                    </div>
                    {% endif%}
                    {% for course in course_list.object_list %}
                    <article class="post">
                        <header>
                            <h2>{{ course.courseName|escape}}</h2>

                            <p class="postinfo" style="padding-top: 5px;"> 课时: {{course.courseTime}} &nbsp; |
                                主讲人: {{ course.courseSpeaker }}&nbsp; | 开课日期：
                                <time>{{ course.courseStartTime|date:"Y-m-d"}}</time>
                                &nbsp;| 听课名额： {{course.maxTraineeAmount}}&nbsp;|&nbsp;&nbsp;&nbsp;
                                <span style="color: red;">报名截至日期：{{course.enrollEndTime|date:"Y-m-d"}}</span>
                            </p>
                        </header>
                        <section class="entry">
                            <p>课程介绍 :{{course.courseDescription|escape}}<!-- <a href="###">展开</a>--></p>

                            <!--<p style="display: none;">课程介绍 :{{course.courseDescription|escape}} <a href="###">收起</a></p>-->
                            <span>
                                {% if course.courseWare %}
                                  <a href="/course/download/{{course.courseWare.name|escape}}">下载课件</a>
                                {% endif %}
                                {% if course.courseWare  and  course.id in allow_course_id_list%}
                                    |
                                {% endif %}
                                {% if course.id in allow_course_id_list%}
                                        <a href="###" class="bookCourse" id="{{course.id}}">我要报名</a>
                                {% endif %}
                            </span>

                        </section>
                    </article>
                    <div class="shadow"></div>
                    {% endfor %}
                    <div class="wp-pagenavi">
                        {% if course_list.paginator.count == 0 %}
                        抱歉，目前暂无记录
                        {% else %}
                        {% if course_list.home_page%}
                        <a href="?page=1{{course_list.queryStr}}" title="首页">首页</a>
                        {% endif %}
                        {% for index in course_list.page_range %}

                        {% if index == course_list.number %}
                        <span class="current">{{index}}</span>
                        {% else %}
                        <a href="?page={{index}}{{course_list.queryStr}}" title="第{{index}}页">{{index}}</a>
                        {%endif%}

                        {% endfor %}
                        {% if course_list.end_page%}
                        <a href="?page={{course_list.pageCount}}{{course_list.queryStr}}" title="尾页">尾页</a>
                        {% endif %}
                        共 {{course_list.pageCount}} 页 {{course_list.paginator.count}} 条记录
                        {%endif%}
                    </div>
                    <div class="clear"></div>
                </section>
                <footer id="pagefooter">
                    <div class="footerwrap">
                        <p class="siteinfo">
                            <!-- 2010 &copy; All Rights Reserved | Your Website Info and copyright information goes here.
                            -->
                            www.jinjiang.com 锦江电商
                        </p>
                    </div>
                    <div id="credits">
                        <a href="www.jinjiang.com" title="锦江电商" style="color: #ffffaa;"> www.jinjiang.com
                            锦江国际电子商务有限公司 </a></div>
                </footer>
            </section>

            <div class="clear"></div>
        </div>
    </section>
</section>
<div id='bookArea' style="display: none;padding-top: 5px;">
    <form action="/book/" method="post" id="book">
        <div class="yui3-g">
            {% csrf_token %}
            <input type="hidden" value='' name="course_id" id="course_id"/>

            <div class="yui3-u-1-3">
                <p class="textfield">
                    邮箱地址：<input name="email" id="email">
                    <label for="email">
                        <small></small>
                    </label>
                </p>
            </div>
            <div class="yui3-u-2-3">
                <input type="button" value="确认报名" class="btn2">
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    String.prototype.trim = function () {
        return this.replace(/^\s+|\s+$/g, '');
    }
    String.prototype.isEmail = function () {
        return(/^(?:\w+\.?)*\w+@(?:\w+\.?)*[a-zA-Z]{2,3}$/i).test(this.trim());
    }
    String.prototype.isEmpty = function () {
        return this.trim().length == 0
    }

    YUI().use('node', 'io-base', function (Y) {
        /* Y.all('.entry p a').on('click', function (e) {
         e.preventDefault();
         var p = e.currentTarget.get('parentNode');
         p.hide();
         p.next('p') == null ? p.previous('p').show() : p.next('p').show();
         });*/

        Y.all('.bookCourse').on('click', function (e) {
            e.preventDefault();
            var bookForm = Y.one("#bookArea");
            bookForm.one("small").setContent('');
            var course_id = e.currentTarget.get('id');
            bookForm.one("#email").set("value", "");

            var isSpan = e.currentTarget.get('parentNode').next('div');
            if (isSpan != null) {
                isSpan.getStyle("display") == 'none' ? isSpan.show() : isSpan.hide();
                return false;
            }
            bookForm.one("#course_id").set("value", course_id);
            bookForm.appendTo(e.currentTarget.get('parentNode').get('parentNode')).show()
        });

        function search(form) {
            if (form.one(".search_content").get("value").isEmpty()) {
                alert('搜索内容不能为空')
                return false;
            }
            form.submit();
        }

        Y.one(".searchArea .btn2").on('click', function (e) {
            e.preventDefault();
            var form = Y.one(".searchArea form");
            return search(form);
        });

        Y.one(".searchArea .search_content").on('keydown', function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });

        function serializeForm(formObject) {
            var params = {};
            var items = formObject.all("input");
            items.each(function (input) {
                if (input.get("type") != 'button') {
                    params[input.get("name")] = input.get("value");
                }
            });
            return params;
        }

        Y.one("#email").on('keydown', function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        })

        Y.all('#bookArea .btn2').on('click', function (e) {
            e.preventDefault();
            var bookForm = Y.one("#bookArea");
            bookForm.one("small").setContent("");
            var value = bookForm.one("#email").get("value");
            if (!value.isEmail()) {
                bookForm.one("small").setContent("请填写正确的邮箱");
                return;
            }
            //bookForm.hide();
            var formObject = bookForm.one("form");

            var cfg = {
                method:'POST',
                data:serializeForm(formObject)
            };

            function showMsg(msg) {
                bookForm.one("small").setContent(msg);
            }

            function complete(id, o, args) {
                var code = o.responseText;
                switch (code) {
                    case '200':
                        showMsg("恭喜你，选课已经确认");
                        break;
                    case '409':
                        showMsg("你已经选过该课程，无法再次选择");
                        break;
                    case '400':
                        showMsg("请填写正确的邮箱");
                        break;
                    case '403':
                        showMsg("提交被禁止，不正当提交信息");
                        break;
                    case '404':
                        showMsg("该课程无法报名，课程报名日期不合法");
                        break;
                    default :
                        showMsg("系统操作返回code= " + code + "，未知操作");
                        break;
                }
                setTimeout(function () {
                    bookForm.hide()
                }, 3000);
            }

            Y.on('io:complete', complete, Y);

            var request = Y.io(formObject.get("action"), cfg);

        });
    });
</script>
</body>
</html>