<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>课程选修</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}cssbase/cssbase-min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}cssfonts/cssfonts-min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}cssgrids/grids-min.css">
    <style type="text/css">

        body {
            margin:auto;
            width: 960px;
        }
    </style>
</head>
<body>
{% for course in course_list.object_list %}

课程名 : <a href="/{{course.id}}">{{ course.courseName|escape}}</a><br/>
课时: {{course.courseTime}} 课程安排 : {{course.courseArrange}}
<br/>
{% if course.courseWare %}
<a href="{{course.courseWare.name}}">下载课件</a>
{% endif %}
<br/>
课程介绍 :{{course.courseDescription|escape|truncatewords_html:5}}
{%if course.start%}
{%endif %}
<hr>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if course_list.has_previous %}
            <a href="?page={{ course_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ course_list.number }} of {{ course_list.paginator.num_pages }}.
        </span>

        {% if course_list.has_next %}
            <a href="?page={{ course_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</body>
</html>