<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>

    </title>
</head>
<body>
Course Name : {{ course.courseName|escape}}<br/>
------<br/>
Course Description :{{course.courseDescription|escape}}<br/>
-----
{% if enroll_set %}
<p>Found {{ enroll_set|length }}.</p>
<ul>
    {% for enroll in enroll_set %}
    <li>{{ enroll.email }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No found ！！！</p>
{% endif %}
<hr>
<form action="/book/" method="post">
    {% csrf_token %}
    email:<input name="email"/>
    <input type="hidden"value='{{course.id}}' name="course_id"/>
    <input type="submit" value="Enroll">
</form>
</body>
</html>