<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>

    </title>
</head>
<body>

课程名 : {{ course.courseName|escape}}<br/>
------<br/>
课程介绍 :{{course.courseDescription|escape}}<br/>
-----<br/>
{% if course.courseWare %}
    <a href="/course/download/?file={{course.courseWare.name|escape}}">下载课件</a>
{% endif %}
{% if enroll_set %}
<p> 报名人数 :{{ enroll_set|length }}.</p>
<ul>
    {% for enroll in enroll_set %}
    <li>{{ enroll.email }}</li>
    {% endfor %}
</ul>
{% else %}
<p>目前还没有人报名!!!</p>
{% endif %}
<hr>

<form action="/book/" method="post">
    {% csrf_token %}
    邮箱: <input name="email"/>
    <input type="hidden"value='{{course.id}}' name="course_id"/>
    <input type="submit" value="我要报名">
</form>
</body>
</html>