{% load static %}
{% get_static_prefix as STATIC_URL %}
<html>
<head>
    <title></title>
</head>
<body>

<form action="/backoffice/course/{{course.id}}" method="post">
    {% csrf_token %}

    {% for field in form %}
    {{field.errors}}
    <br/>
    {{field.label_tag}}: {{field}}
    <br/>
    {%endfor%}

    <br/>
    <hr/>
    {% for enroll in waitingList%}
    {{enroll.email}}
    {% endfor %}
    <hr/>
    <select name="waitingList" id="waitingList" multiple="true">
        {% for enroll in notWaitingList%}
        <option value="{{errors.id}}">{{enroll.email}}</option>
        {% endfor %}
    </select>

    <hr/>
    <input type="submit" value="提交"/>
</form>
<script type="text/javascript" src="{{STATIC_URL}}/yui/yui-min.js"/>
<script type="text/javascript">
    alert('b');
    alert(Y.one("#waitingList"));
</script>
</body>
</html>