{% extends "backoffice/backofficeBasePage.html" %}

{%block title%}
所有课程
{%endblock title%}

{%block extra_css%}
<link rel="stylesheet" href="{{STATIC_URL}}/backoffice/css/course_list.css" type="text/css"/>
{%endblock extra_css%}

{%block content%}
{% if courseList%}
<div class="yui3-u-1-1">

    <div class="yui3-g inner-boundary">

        <div class="yui3-u-1-1">
            <ul class="item-list">
                {% for course in courseList %}
                <li class="web-template">
                    <div class="yui3-g">
                        <div class="yui3-u">
                            <div>
                                {%if course.event_type %}
                                <span class="eventType" style="padding-right: 40px;">
                                    {%if course.event_type.type_image%}
                                    <img src="{{event_type_image_prefix_url}}{{course.event_type.type_image}}"
                                         alt="{{course.event_type.type_name}}" width="25px;" height="25px;"/>
                                    {%else%}
                                        {{course.event_type.type_name}}
                                    {%endif%}
                                </span>
                                {%endif%}
                                <a style="font-size: 166%;color: #000000;text-decoration: none;"
                                   href="/backoffice/course/{{course.id}}">{{ course.courseName }}</a>
                                &nbsp;&nbsp;<span
                                    style="font-size: 120%;color: #8A6741">{{ course.courseSpeaker }}</span>
                                <span>{{course.type}}</span>
                            </div>
                            <div style="padding-top: 10px;font-size: 120%">
                                {{course.courseDescription|truncatewords_html:5}}
                            </div>
                            <div style="padding-top: 10px;font-size: 120%">
                                听课名额：<span style="color: #E56700;">{{course.maxTraineeAmount}}</span>
                                报名人数： <span style="color: #E56700;">{{ course.enroll_set.all|length }}</span>
                            </div>
                            <div style="padding-top: 10px;">
                                <a href="/backoffice/course/{{course.id}}"
                                   style="text-decoration:none;font-size:110%;color: #356DE4;">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/backoffice/course/delete/{{course.id}}"
                                   style="text-decoration:none;font-size:110%;color: #356DE4;">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% endif %}
{%endblock content%}

{%block extra_head_menu%}
<span>
    <a href="/backoffice/course/add" class="head_style">添加课程</a>
</span>
{%endblock extra_head_menu%}
{%block extra_html_content%}
{%include "addEventTypeWidget.html" with widget_div_id="add_event_widget"%}
{%include "editEventTypeWidget.html" with widget_div_id="edit_event_widget"%}
{%endblock%}