{% extends "backoffice/backofficeBasePage.html" %}
{%block title%}
添加课程
{%endblock title%}
{%block extra_css%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/backoffice/css/add_course.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/calendar/assets/skins/sam/calendar.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/fonts/fonts-min.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/button/assets/skins/sam/button.css">
{%endblock extra_css%}

{%block pre_body_content%}
<div id="startEnrollDateCalendar"></div>
<div id="endEnrollDateCalendar"></div>
<div id="courseStartDateCalendar"></div>
{%endblock pre_body_content%}

{%block content%}
<form action="/backoffice/course/add" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {% for field in form %}
    {% if field.label != 'Event_type' %}
    <div class="yui3-g" style="padding-top: 15px;">
        <div class="yui3-u-1-5" style="float:left;font-weight: bold;">{{field.label_tag}}:</div>
        <div class="yui3-u-4-5" style="float:left">
            <div class="yui3-g">
                <div class="yui3-u-3-5" style="float:left;font-weight: bold;">
                    {{field}}
                </div>
                <div class="yui3-u-2-5 error_area">
                    {%for error in field.errors%}
                    {{error}}
                    {%endfor%}

                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    {%else%}
    <div class="yui3-g" style="padding-top: 15px;">
        <div class="yui3-u-1-5" style="float:left;font-weight: bold;">
            <label for="id_event_type">事件类型:</label></div>
        <div class="yui3-u-4-5" style="float:left">
            <div class="yui3-g">
                <div class="yui3-u-3-5" style="float:left;font-weight: bold;">
                    <div class="yui3-g">
                        <div class="yui3-u-2-5">
                            {{form.event_type}}
                        </div>
                        <div class="yui3-u-3-5">
                            <input type="button" id="add_event_type" name="add_event_type" value="添加事件类型">
                        </div>
                    </div>
                </div>
                <div class="yui3-u-2-5 error_area">
                    {%for error in field.errors%}
                    {{error}}
                    {%endfor%}
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    {% endif %}

    {%endfor%}
    <div style="padding-top:30px;">
        <button id="submit_button"/>
    </div>
</form>
{%endblock content%}
{%block extra_js%}
<script src="{{STATIC_URL}}/yui2/build/element/element-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/button/button-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/calendar/calendar-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/container/container-min.js"></script>
{%endblock extra_js%}
{%block js_content%}
<script type="text/javascript">
    function handleCalendarSelect(type, args, me) {
        var dates = args[0],
                date = dates[0],
                year = date[0],
                month = date[1],
                day = date[2],
                valueTextElement = YAHOO.util.Dom.get(me[1]);
        valueTextElement.value = year + "-" + month + "-" + day;
        me[0].hide();
    }

    function init() {
        var startEnrollDateCalendar = new YAHOO.widget.Calendar("startEnrollDateCalendar", "startEnrollDateCalendar", {title:"选择课程开始报名日期", close:"true"}),
                endEnrollDateCalendar = new YAHOO.widget.Calendar("endEnrollDateCalendar", "endEnrollDateCalendar", {title:"选择报名截至日期", close:"true"}),
                courseStartDateCalendar = new YAHOO.widget.Calendar("courseStartDateCalendar", "courseStartDateCalendar", {title:"选择课程开始日期", close:"true"});


        startEnrollDateCalendar.selectEvent.subscribe(handleCalendarSelect, [startEnrollDateCalendar, "id_enrollStartTime"], true);
        endEnrollDateCalendar.selectEvent.subscribe(handleCalendarSelect, [endEnrollDateCalendar, "id_enrollEndTime"], true);
        courseStartDateCalendar.selectEvent.subscribe(handleCalendarSelect, [courseStartDateCalendar, "id_courseStartTime"], true);
        startEnrollDateCalendar.render();
        endEnrollDateCalendar.render();
        courseStartDateCalendar.render();

        YAHOO.util.Dom.setStyle('startEnrollDateCalendar', 'position', 'absolute');

        YAHOO.util.Dom.setStyle('endEnrollDateCalendar', 'position', 'absolute');

        YAHOO.util.Dom.setStyle('courseStartDateCalendar', 'position', 'absolute');
        YAHOO.util.Dom.setXY("startEnrollDateCalendar", YAHOO.util.Dom.getXY("id_enrollStartTime"));
        YAHOO.util.Dom.setXY("courseStartDateCalendar", YAHOO.util.Dom.getXY("id_courseStartTime"));
        YAHOO.util.Dom.setXY("endEnrollDateCalendar", YAHOO.util.Dom.getXY("id_enrollEndTime"));
        startEnrollDateCalendar.hide();
        endEnrollDateCalendar.hide();
        courseStartDateCalendar.hide();


        YAHOO.util.Event.addListener("id_enrollStartTime", "click", function () {
            startEnrollDateCalendar.show();
        });

        YAHOO.util.Event.addListener("id_enrollEndTime", "click", function () {

            endEnrollDateCalendar.show();

        });
        YAHOO.util.Event.addListener("id_courseStartTime", "click", function () {
            courseStartDateCalendar.show();
        });
        new YAHOO.widget.Button("submit_button", {label:"添加课程", type:"submit"});


    }

    YAHOO.util.Event.onDOMReady(init)
</script>
{%endblock js_content%}

{%block extra_html_content%}
{%include "event/addEventTypeWidget.html"%}
{%endblock extra_html_content%}