<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <style type="text/css">

        body {
            margin:auto;
            width: 960px;
        }
    </style>
</head>
<body>

<div class="yui3-g" style="height:50px;">
        <a href="/backoffice/logout">注销</a>
        <a href="/backoffice/index.html">返回首页</a>
    </div>
    <div class="yui3-g">
    <form action="{% url backoffice.views.addCourse %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            {{field.errors}}
            <br/>
            {{field.label_tag}}: {{field}}
            <br/>
        {%endfor%}

        <input type="submit" value="提交"/>
    </form>
    </div>
</body>
</html>