{% load static %}
{% get_static_prefix as STATIC_URL %}
<html>
<head>
    <title>添加课程</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui/cssfonts/cssfonts-min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui/cssbase/cssbase-min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui/cssgrids/grids-min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/backoffice/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}/yui/cssbutton.css" type="text/css"/>
    <script src="{{STATIC_URL}}/yui/yui-min.js"></script>

</head>
<body>

<div class="yui3-g head">
    <div class="yui3-u-4-5">


    </div>
    <div class="yui3-u-1-5">
        <a href="/backoffice/logout" class="head_style">注销</a>
        <a href="/backoffice/index.html" class="head_style">返回首页</a>
    </div>
</div>
<div class="yui3-g yui3-skin-sam">
    <form action="/backoffice/course/add" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="yui3-g" style="padding-top: 15px;">
            <div class="yui3-u-1-5" style="float:left;font-weight: bold;">{{field.label_tag}}:</div>
            <div class="yui3-u-4-5" style="float:left">
                <div class="yui3-g">
                    <div class="yui3-u-3-5" style="float:left;font-weight: bold;">
                        {{field}}
                    </div>
                    <div class="yui3-u-2-5 error_area">
                        {%for error in field.errors%}
                        {{error}}
                        {%endfor%}

                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>


        {%endfor%}

        <div id="submit_button" class="yui3-button medium"
             style="color: black;width:45px;letter-spacing: 5px;word-spacing:5px;margin-left: 0px;">提交
        </div>
    </form>
    <div id="startDate"></div>
    <div id="endDate"></div>
    <div id="courseStartDate"></div>
</div>
<script type="text/javascript">
    YUI().use('calendar', 'datatype-date', 'node', 'event', function (Y) {
        var start_time_input = Y.one("#id_enrollStartTime"),
                end_time_input = Y.one("#id_enrollEndTime"),
                start_course_input = Y.one("#id_courseStartTime");
        Y.one("#startDate").setXY(start_time_input.getXY());
        Y.one("#endDate").setXY(end_time_input.getXY());
        Y.one("#courseStartDate").setXY(start_course_input.getXY());


        var dtdate = Y.DataType.Date,
                startCalendar = new Y.Calendar({
                    contentBox:"#startDate",
                    width:'340px',
                    showPrevMonth:true,
                    showNextMonth:true,
                    date:new Date(),
                    startDate:new Date()}).render(),
                startCourseCalendar = new Y.Calendar({
                    contentBox:"#courseStartDate",
                    width:'340px',
                    showPrevMonth:true,
                    showNextMonth:true,
                    date:new Date(),
                    startDate:new Date()}).render(),
                endCalendar = new Y.Calendar({
                    contentBox:"#endDate",
                    width:'340px',
                    showPrevMonth:false,
                    showNextMonth:false,
                    date:new Date(),
                    startDate:new Date()}).render();

        startCalendar.hide();
        endCalendar.hide();
        startCourseCalendar.hide();

        Y.one("#submit_button").on('click', function () {
            Y.one("form").submit()
        })

        startCourseCalendar.on("selectionChange", function (ev) {
            var newDate = ev.newSelection[0];
            start_course_input.set('value', dtdate.format(newDate));
            startCourseCalendar.hide()
        });


        startCalendar.on("selectionChange", function (ev) {
            var newDate = ev.newSelection[0];
            start_time_input.set('value', dtdate.format(newDate));
            startCalendar.hide()
        });


        endCalendar.on("selectionChange", function (ev) {
            var newDate = ev.newSelection[0];
            end_time_input.set('value', dtdate.format(newDate));
            endCalendar.hide()
        });

        start_time_input.setAttribute('readonly', 'readonly');
        end_time_input.setAttribute("readonly", "readonly");
        start_course_input.setAttribute('readonly', 'readonly');

        start_course_input.on('click', function (e) {
                    startCourseCalendar.show();
                }
        );

        start_time_input.on('click', function (e) {
                    startCalendar.show();
                }
        );

        end_time_input.on('click', function (e) {
                    endCalendar.show();
                }
        );

    })

</script>
</body>
</html>