<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


<form method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}

    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
            <br/>
            {% if form.username.errors%}
            {% for error in form.username.errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
            {% endif %}
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
            {% if form.password.errors%}
            {% for error in form.password.errors%}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
            {% endif %}
        </tr>
    </table>

    <input type="submit" value="登入" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

</body>
</html>