{%load static%}
{%load url from future%}

{%get_static_prefix as STATIC_URL%}
<html>
<head>
    <title>发送确认邮件</title>
</head>
<body>
<div class="yui3-g head">
    <div class="yui3-u-4-5">


    </div>
    <div class="yui3-u-1-5">
        <a href="/backoffice/logout" class="head_style">注销</a>
        <a href="/backoffice/index.html" class="head_style">返回首页</a>
    </div>
</div>
<div class="yui3-g yui3-skin-sam">
    <form action="{% url 'backoffice.views.send_notification_email'%}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="发送邮件">
    </form>
</div>
</body>
</html>