<div id="multi_choice_survey_item" style="display: none;">
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <input id="multi_choice_survey_item_required" checked="checked" type="checkbox" style="padding-left: 20px;">
        </input>
        <span style="padding-right: 10px;">
            <label for="multi_choice_survey_item_required">是否必填</label>
        </span>
        <input id="multi_choice_survey_item_other" type="checkbox" style="padding-left: 20px;">
        </input>
        <span style="padding-right: 10px;">
            <label for="multi_choice_survey_item_other">
            有其他选项
            </label>
        </span>
    </div>
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        可选答案(用回车表示分割)
    </div>
    <div>
        <textarea id="multi_choice_survey_item_answer" style="width: 450px;height: 60px;"></textarea>
    </div>
    <input type="hidden" id="multi_choice_survey_item_type" value="MULTIPLE_CHOICE"/>
</div>

<script type="text/javascript">
    function multi_choice_survey_item() {
        var isRequired = YAHOO.util.Dom.get("multi_choice_survey_item_required").checked,
        otherAnswer = YAHOO.util.Dom.get("multi_choice_survey_item_other").checked,
        surveyItemText = YAHOO.util.Dom.get("survey_item_text").value,
        survey_id = YAHOO.util.Dom.get("survey_id").value,
        page_num = YAHOO.util.Dom.get("page_num").value,
        surveyItemType = YAHOO.util.Dom.get("multi_choice_survey_item_type").value,
        surveyItemAnswer = YAHOO.util.Dom.get("multi_choice_survey_item_answer").value,
        postData = "isRequired="+isRequired+"&otherAnswer="+otherAnswer+"&surveyItemText="+surveyItemText+
                "&survey_id="+survey_id+"&page_num="+page_num+"&surveyItemType="+surveyItemType+"&surveyItemAnswer="+surveyItemAnswer;
        YAHOO.util.Connect.asyncRequest('POST', '/backoffice/survey/addSurveyItem',genericCallBack,postData);

    }

</script>