<div id="multi_choice_single_select_survey_item" style="display: none;">
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <input id="multi_choice_single_select_survey_item_required" type="checkbox" style="padding-left: 20px;"/><span style="padding-right: 10px;">是否必填</span>
        <input id="multi_choice_single_select_survey_item_other" type="checkbox" style="padding-left: 20px;"/><span style="padding-right: 10px;">有其他选项</span>
    </div>
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <span style="color: red;font-size: 14px;">(*)</span> 可选答案(用回车表示分割)
    </div>
    <div>
        <textarea id="multi_choice_single_select_survey_item_answer" style="width: 450px;height: 60px;"></textarea>
    </div>
    <div style="color: #E76300;padding-top: 10px;font-size: 14px;padding-bottom: 2px;">
        排列方式
    </div>
    <div>
        <input type="radio" name="align_format" style="margin-left: 5px;" value="">所有选项水平排列</input>
        <input type="radio" name="align_format" value="">所有选项垂直排列</input>
    </div>
    <input type="hidden" id="multi_choice_single_select_survey_item_type" value="MULTIPLE_CHOICE"/>
</div>

<script type="text/javascript">
    function multi_choice_single_select_survey_item() {
        var isRequired = YAHOO.util.Dom.get(("multi_choice_single_select_survey_item_required")).getAttribute("checked"),
        otherAnswer = YAHOO.util.Dom.get(("multi_choice_single_select_survey_item_other")).getAttribute("checked"),
        surveyItemText = YAHOO.util.Dom.get(("survey_item_text")).value,
        survey_id = YAHOO.util.Dom.get(("survey_id")).value,
        surveyItemAnswer = YAHOO.util.Dom.get(("multi_choice_single_select_survey_item_answer")).value,

        alert('b');
    }

</script>