<div id="single_choice_survey_item" style="display: none;">
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <input id="single_choice_survey_item_required" type="checkbox" style="padding-left: 20px;"/><span style="padding-right: 10px;">是否必填</span>
        <input id="single_choice_survey_item_other" type="checkbox" style="padding-left: 20px;"/><span style="padding-right: 10px;">有其他选项</span>
    </div>
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <span style="color: red;font-size: 14px;">(*)</span> 可选答案(用回车表示分割)
    </div>
    <div>
        <textarea id="single_choice_survey_item_answer" style="width: 450px;height: 60px;"></textarea>
    </div>
    <div style="color: #E76300;padding-top: 10px;font-size: 14px;padding-bottom: 2px;">
        排列方式
    </div>
    <div>
        <input type="radio" name="single_align_format" id="single_align_format_h" style="margin-left: 5px;" value="">所有选项水平排列</input>
        <input type="radio" name="single_align_format" id="single_align_format_v" value="">所有选项垂直排列</input>
    </div>
    <input type="hidden" id="single_choice_survey_item_type" value="SINGLE_CHOICE"/>
</div>

<script type="text/javascript">
    function single_choice_survey_item() {
        var isRequired = YAHOO.util.Dom.get("single_choice_survey_item_required").checked,
                otherAnswer = YAHOO.util.Dom.get("single_choice_survey_item_other").checked,
                surveyItemText = YAHOO.util.Dom.get("survey_item_text").value,
                survey_id = YAHOO.util.Dom.get("survey_id").value,
                page_num = YAHOO.util.Dom.get("page_num").value,
                surveyItemType = YAHOO.util.Dom.get("single_choice_survey_item_type").value,
                surveyItemAnswer = YAHOO.util.Dom.get("single_choice_survey_item_answer").value,
                hAlignRadio = YAHOO.util.Dom.get("single_align_format_h"),
                vAlignRadio = YAHOO.util.Dom.get("single_align_format_v");
        if(hAlignRadio.checked)
        {
            alignFormat = "H";
        }
        else if(vAlignRadio.checked)
        {
            alignFormat = "V";
        }
        var postData = "isRequired="+isRequired+"&otherAnswer="+otherAnswer+"&surveyItemText="+surveyItemText+
                "&survey_id="+survey_id+"&page_num="+page_num+"&surveyItemType="+surveyItemType+"&surveyItemAnswer="+surveyItemAnswer+
                "&alignFormat="+alignFormat;
        YAHOO.util.Connect.asyncRequest('POST', '/backoffice/survey/addSurveyItem',genericCallBack,postData);

    }

</script>