<div id="text_survey_item" style="display: none;">
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <input id="text_item_required" type="checkbox" checked="checked" style="padding-left: 20px;"/>
        <span style="padding-right: 20px;">
            <label for="text_item_required">是否必填</label>
        </span>
    </div>
    <input type="hidden" id="text_survey_item_type" value="TEXT"/>
</div>


<script type="text/javascript">
    function text_survey_item() {
        var isRequired = YAHOO.util.Dom.get("text_item_required").checked,
                surveyItemText = YAHOO.util.Dom.get("survey_item_text").value,
                survey_id = YAHOO.util.Dom.get("survey_id").value,
                page_num = YAHOO.util.Dom.get("page_num").value,
                surveyItemType = YAHOO.util.Dom.get("text_survey_item_type").value;

        var postData = "isRequired="+isRequired+"&surveyItemText="+surveyItemText+
                "&survey_id="+survey_id+"&page_num="+page_num+"&surveyItemType="+surveyItemType;
        YAHOO.util.Connect.asyncRequest('POST', '/backoffice/survey/addSurveyItem',genericCallBack,postData);

    }

</script>