
<div class="ed_QstHdr" style="margin-top: 10px;">
    <div style="padding-top: 20px;">
        <span class="ed_AbsNumbering">{{idx}}. {{survey_item.item_name}}</span>
        <input type="button" id="pushbutton1" name="button" value="编辑问题"></input>
        <input type="button" id="deletebutton1" name="button" value="删除"></input>
    </div>
    <div>
        <table>
            <tbody>
            <tr>
                <td>

                </td>
                {% for answer_value in survey_item.item_values %}
                <td>
                    {{ answer_value }}
                </td>
                {% endfor%}
            </tr>
            {% for survey_item in surveyItemCollection %}
            <tr>
                <td>
                    {{survey_item.item_name}}
                </td>
                {% for answer_value in survey_item.item_values %}
                    <td>
                        <input type="radio" name="item_{{survey_item.id}}" value="answer_value"></input>
                    </td>
                {% endfor%}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>