{% extends "backoffice/backofficeBasePage.html" %}
{%block title%}
创建调查表格
{%endblock title%}

{%block extra_css%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/backoffice/css/survey_add.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/fonts/fonts-min.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/button/assets/skins/sam/button.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/container/assets/skins/sam/container.css"/>
{%endblock extra_css%}

{%block content%}
<div style="padding-left: 10px;">
    <h2>
        调查名称: 工福利期望
    </h2>

    <div id="questionArea">
        <div class="ed_QstHdr">
            <div>
                <span class="ed_AbsNumbering">1. 单项选择(使用按钮) 垂直显示</span>
                <input type="button" id="pushbutton" name="button" value="编辑问题"></input>
                <input type="button" id="deletebutton" name="button" value="删除"></input>
            </div>
            <div>
                <div style="padding-top: 10px;">
                    <input name="answer" type="radio" />
                    <label name="answer">答案1</label>
                </div>
                <div style="padding-top: 10px;">
                    <input name="answer" type="radio" />
                    <label name="answer">答案2</label>
                </div>
                <div style="padding-top: 10px;">
                    <input name="answer" type="radio" />
                    <label name="answer">答案3</label>
                </div>
                <div style="padding-top: 10px;">
                    <input name="answer" type="radio" />
                    <label name="answer">答案4</label>
                </div>
            </div>
        </div>

        <div class="ed_QstHdr" style="margin-top: 10px;">
            <div>
                <span class="ed_AbsNumbering">2. 单项选择(使用按钮) 垂直显示</span>
                <input type="button" id="pushbutton1" name="button" value="编辑问题"></input>
                <input type="button" id="deletebutton1" name="button" value="删除"></input>
            </div>
            <div>
                <table>
                    <tbody>
                        <tr style="border: 0px">
                            <td style="border: 0px">
                                <div style="padding-top: 10px;">
                                    <input name="answer2" type="radio" />
                                    <label name="answer2">答案1</label>
                                </div>

                            </td>
                            <td style="border: 0px">
                                <div style="padding-top: 10px">
                                    <input name="answer2" type="radio" />
                                    <label name="answer2">答案2</label>
                                </div>
                            </td>
                            <td style="border: 0px">
                                <div style="padding-top: 10px;">
                                    <input name="answer2" type="radio" />
                                    <label name="answer2">答案3</label>
                                </div>

                            </td>
                            <td style="border: 0px">
                                <div style="padding-top: 10px;">
                                    <input name="answer2" type="radio" />
                                    <label name="answer2">答案4</label>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div style="padding-top: 20px;">
        <button id="addQuestion" class="add_question_button">添加一个问题</button>
        <button id="addPage" class="add_question_button">添加一个页面</button>
    </div>
</div>
<div class="pageListBottom">
    <div class="pagePanel">
        <ul>
            <li>
                <span class="disable">
                    <a href="">上一页</a>
                </span>
            </li>
            <li>
                <span class="currentPage">
                    <a href="">1</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="">2</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="">3</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="">下一页</a>
                </span>
            </li>
        </ul>
    </div>

</div>
{%endblock content%}

{%block extra_html_content%}
<div id="add_survey_question_dialog" style="display:none;width:600px;text-align: left;font-size: 14px;">
    <div class="bd">
        <div>
            <h5 style="color: #87A32E; font-size: 16px;">问题名称:</h5>
            <textarea style="padding-top:5px;width: 500px;height: 50px;"></textarea>
        </div>
        <div>
            <h5 style="color: #87A32E; font-size: 16px; padding-top: 10px;">问题类型:</h5>
            <select style="width: 200px;" id="question_type_selector">
                <option>--选择一个问题类型--</option>
                <option value="multi_choice_single_select_area">单项选择(使用按钮)</option>
                <option value="multi_choice_single_select_area">多项选择（使用按钮)</option>
                <option value="multi_choice_single_select_area">单项选择（使用下拉菜单)</option>
                <option value="text_area">输入框（允许输入多行)</option>
                <option value="metrix">矩阵显示（选择多个答案)</option>
                <option value="metrix">矩阵显示（选择一个答案,用按钮选择)</option>
                <option value="metrix">矩阵显示（选择一个答案,用下拉框选择)</option>
                <option value="text_area">输入框（一行输入框)</option>
                <option value="multi_text_area">输入框（多行输入框)</option>
            </select>
        </div>
        <div id="quest_content" style="padding-top: 20px;padding-bottom: 15px;">

        </div>

        <button id="submit_question">提交问题</button>
    </div>
</div>

<div id="edit_survey_question_dialog" style="display:none;width:600px;text-align: left;font-size: 14px;">
    <div class="bd">
        <div>
            <h5 style="color: #87A32E; font-size: 16px;">问题名称:</h5>员工福利调查
        </div>
        <div>
            <h5 style="color: #87A32E; font-size: 16px; padding-top: 10px;">问题类型:</h5>
            <select style="width: 200px;" id="edit_question_type_selector">
                <option>--选择一个问题类型--</option>
                <option value="multi_choice_single_select_area">单项选择(使用按钮)</option>
                <option value="multi_choice_single_select_area">多项选择（使用按钮)</option>
                <option value="multi_choice_single_select_area">单项选择（使用下拉菜单)</option>
                <option value="text_area">输入框（允许输入多行)</option>
                <option value="metrix">矩阵显示（选择多个答案)</option>
                <option value="metrix">矩阵显示（选择一个答案,用按钮选择)</option>
                <option value="metrix">矩阵显示（选择一个答案,用下拉框选择)</option>
                <option value="text_area">输入框（一行输入框)</option>
                <option value="multi_text_area">输入框（多行输入框)</option>
            </select>
        </div>
        <div id="edit_quest_content" style="padding-top: 20px;padding-bottom: 15px;">

        </div>

        <button id="edit_question">修改问题</button>
    </div>
</div>

<div id="multi_choice_single_select_area" style="display: none;">
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <input type="checkbox" style="padding-left: 20px;"/><span style="padding-right: 10px;">是否必填</span>
        <input type="checkbox" style="padding-left: 20px;"/><span style="padding-right: 10px;">有其他选项</span>
    </div>
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <span style="color: red;font-size: 14px;">(*)</span> 可选答案(用回车表示分割)
    </div>
    <div>
        <textarea id="" style="width: 450px;height: 60px;"></textarea>
    </div>
    <div style="color: #E76300;padding-top: 10px;font-size: 14px;padding-bottom: 2px;">
        排列方式
    </div>
    <div>
        <input type="radio" name="align_format" style="margin-left: 5px;" value="">所有选项水平排列</input>
        <input type="radio" name="align_format" value="">所有选项垂直排列</input>
    </div>
</div>
<div id="text_area" style="display: none;">
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <input type="checkbox" style="padding-left: 20px;"/><span style="padding-right: 20px;">是否必填</span>
    </div>
</div>
<div id="multi_text_area" style="display: none;">
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <input type="checkbox" style="padding-left: 20px;"/><span style="padding-right: 20px;">是否必填</span>
    </div>
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <span style="color: red;font-size: 14px;">(*)</span> 行选项(用回车表示分割)
    </div>
    <div>
        <textarea id="" style="width: 450px;height: 60px;"></textarea>
    </div>
</div>
<div id="metrix" style="display: none;">
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <input type="checkbox" style="padding-left: 20px;"/><span style="padding-right: 20px;">是否必填</span>
    </div>
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <span style="color: red;font-size: 14px;">(*)</span>列选项(用回车表示分割)
    </div>
    <div>
        <textarea id="" style="width: 450px;height: 60px;"></textarea>
    </div>
    <div style="color: #E76300;font-size: 14px;padding-bottom: 5px;">
        <span style="color: red;font-size: 14px;">(*)</span> 行选项(用回车表示分割)
    </div>
    <div>
        <textarea id="" style="width: 450px;height: 60px;"></textarea>
    </div>
</div>

{%endblock extra_html_content%}

{%block extra_js%}
<script src="{{STATIC_URL}}/yui2/build/element/element-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/button/button-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/container/container-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/connection/connection-min.js"></script>
{%endblock extra_js%}

{%block js_content%}
<script type="text/javascript">
    init = function () {
        var addQuestion = function () {
            addSurveyQuestionDialog.show();
        },
                editQuestion= function(){
                    editSurveyQuestionDialog.show();
                },
                changeQuestionType = function () {

                    var questionContentArea = YAHOO.util.Dom.get("quest_content"),
                            areaId = YAHOO.util.Dom.get("question_type_selector").value;
                    questionContentArea.innerHTML = "";
                    questionContentArea.innerHTML = YAHOO.util.Dom.get(areaId).innerHTML;
                },
                changeEditQuestionType = function() {
                    var questionContentArea = YAHOO.util.Dom.get("edit_quest_content"),
                            areaId = YAHOO.util.Dom.get("edit_question_type_selector").value;
                    questionContentArea.innerHTML = "";
                    questionContentArea.innerHTML = YAHOO.util.Dom.get(areaId).innerHTML;
                }


        var addSurveyQuestionDialog = new YAHOO.widget.Panel('add_survey_question_dialog', {close:true, fixedcenter:true, draggable:false, modal:true});
        addSurveyQuestionDialog.render();
        addSurveyQuestionDialog.hide();
        YAHOO.util.Dom.setStyle("add_survey_question_dialog", "display", "block");
        var editSurveyQuestionDialog = new YAHOO.widget.Panel('edit_survey_question_dialog', {close:true, fixedcenter:true, draggable:false, modal:true});
        editSurveyQuestionDialog.render();
        editSurveyQuestionDialog.hide();
        YAHOO.util.Dom.setStyle("edit_survey_question_dialog", "display", "block");

        new YAHOO.widget.Button("addQuestion");
        new YAHOO.widget.Button("submit_question");
        new YAHOO.widget.Button("edit_question");
        new YAHOO.widget.Button("addPage");
        new YAHOO.widget.Button("pushbutton");
        new YAHOO.widget.Button("deletebutton");
        YAHOO.util.Event.addListener("addQuestion", "click", addQuestion);
        YAHOO.util.Event.addListener("question_type_selector", "change", changeQuestionType);
        YAHOO.util.Event.addListener("edit_question_type_selector", "change", changeEditQuestionType);
        YAHOO.util.Event.addListener("submit_question-button", "click", function () {
            addSurveyQuestionDialog.hide();
        });

        YAHOO.util.Event.addListener(" edit_question-button", "click", function () {
            editSurveyQuestionDialog.hide();
        });

        YAHOO.util.Event.addListener("pushbutton", "click", editQuestion);
    }


    YAHOO.util.Event.onDOMReady(init)
</script>
{%endblock js_content%}