{% extends "backoffice/backofficeBasePage.html" %}
{%block title%}
所有调查问卷
{%endblock title%}

{%block extra_css%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/backoffice/css/survey_list.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/fonts/fonts-min.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/button/assets/skins/sam/button.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/container/assets/skins/sam/container.css"/>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}/yui2/build/datatable/assets/skins/sam/datatable.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/paginator/assets/skins/sam/paginator.css">
{%endblock extra_css%}

{%block content%}
<div id="myMarkedUpContainer">
    <table id="myTable">
        <thead>
        <tr>
            <th>序列号</th>
            <th>问卷主题</th>
            <th>调查目标</th>
            <th>已参加调查人数</th>
            <th>创建时间</th>
            <th>问卷状态</th>
        </tr>
        </thead>
        <tbody>
        {% for survey in object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{survey.survey_name}}</td>
            <td>
                {% if survey.survey_target == "ALL" %}
                全 体 员 工
                {% endif %}
                {% if survey.survey_target == "SALE" %}
                市场营销部
                {% endif %}
                {% if survey.survey_target == "IT" %}
                信息技术部
                {% endif %}
                {% if survey.survey_target == "CC" %}
                呼叫中心
                {% endif %}
                {% if survey.survey_target == "F" %}
                财务部
                {% endif %}
                {% if survey.survey_target == "P" %}
                产品运营部
                {% endif %}
                ({{survey.total_employee_number}}人)
            </td>
            <td>{{survey.finish_survey_employee_number}}</td>
            <td>
                {% if survey.survey_status == "DONE" %}
                调查完成
                {% endif %}
                {% if survey.survey_status == "CONTINUE" %}
                调查完成
                {% endif %}
                {% if survey.survey_status == "EDIT" %}
                创建问卷中
                {% endif %}
                {% if survey.survey_status == "FINISH" %}
                问卷创建完成
                {% endif %}
            </td>
            <td>{{survey.create_date|date:"Y-m-d"}}</td>
            <td>
                {% if survey.survey_status == "EDIT" %}
                    <a href="">编辑问卷</a></td>
                {% else %}
                    <a href="">查看</a></td>
                {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="pag">

</div>
{%endblock content%}


{%block extra_js%}
<script src="{{STATIC_URL}}/yui2/build/element/element-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/button/button-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/container/container-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/connection/connection-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/datasource/datasource-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/datatable/datatable-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/paginator/paginator-min.js"></script>
{%endblock extra_js%}


{%block right_head_menu%}
<button type="button" id="add_survey_button"></button>
{%endblock right_head_menu%}

{%block extra_html_content%}
<div id="add_survey_dialog" style="display:none;width:500px;text-align: left;font-size: 14px;">
    <div class="hd">
        添加问卷调查
    </div>
    <div class="bd">
        <form action="#" method="POST">
            <div>
                <span style="padding-right: 10px;">调查主题:</span><input id="survey_subject" type="text"
                                                                      name="theme"></input>
            </div>
            <div style="padding-top: 15px;">
                <span style="padding-right: 10px;">调查对象:</span>
                <select id="selectDivision">
                    <option value="ALL">全 体 员 工</option>
                    <option value="IT">技 术 信 息 部</option>
                    <option value="SALE">市 场 营 销 部</option>
                    <option value="CC">呼 叫 中 心</option>
                    <option value="F">财 务 部</option>
                    <option value="P">产 品 运 营 部</option>
                </select>
            </div>
        </form>
        <div style="padding-top: 15px">
            <button id="create_survey">创 建</button>
        </div>
    </div>
</div>
{%endblock extra_html_content%}

{%block js_content%}
<script type="text/javascript">
    var callback = {
        success:function (o) {
            alert(o.responseText);
            location.reload();
        },
        failure:function (o) {
            alert("创建问卷发生错误，请重新尝试");
            location.reload();
        }
    };


    function createSurvey() {
        var division = YAHOO.util.Dom.get("selectDivision").value,
        subject = YAHOO.util.Dom.get("survey_subject").value;
        YAHOO.util.Connect.asyncRequest('POST', '/backoffice/survey/create', callback, "survey_name=" + subject + "&survey_target=" + division);
    }


    function init() {
        new YAHOO.widget.Button("add_survey_button", {label:"添加调查问卷"});
        var addSurveyDialog = new YAHOO.widget.Panel('add_survey_dialog', {close:true, fixedcenter:true, draggable:false, modal:true});
        addSurveyDialog.render();
        addSurveyDialog.hide();
        YAHOO.util.Dom.setStyle("add_survey_dialog", "display", "block");

        var displayAddSurveyDialog = function () {
            addSurveyDialog.show();
        }

        YAHOO.util.Event.addListener("add_survey_button", "click", displayAddSurveyDialog);
        var myDataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("myTable"));
        myDataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        myDataSource.responseSchema = {
            fields:[
                { key:"id", parser:"number" },
                { key:"theme" },
                { key:"object" },
                { key:"number" },
                { key:"status" },
                { key:"createDate" },
                { key:"result"}
            ]
        };

        var myColumnDefs = [
            { key:"id", label:"序列号" },
            { key:"theme", width:300, label:"问卷主题" },
            { key:'object', label:"调查目标", width:150 },
            { key:'number', label:"已完成调查人数" },
            { key:"status", label:"问卷状态", formatter:"HTMLFunction" },
            { key:"createDate", label:"创建时间"},
            { key:"result", label:"调查结果", formatter:"HTMLFunction"}
        ];


        new YAHOO.widget.DataTable("myMarkedUpContainer", myColumnDefs, myDataSource, {
            paginator : new YAHOO.widget.Paginator({
                rowsPerPage: 1,
                containers : "pag"
            })
        });
        YAHOO.util.Event.addListener("create_survey", "click", createSurvey);
    }

    YAHOO.util.Event.onDOMReady(init);
</script>
{%endblock js_content%}