{% extends "backoffice/backofficeBasePage.html" %}
{%block title%}
所有调查问卷
{%endblock title%}

{%block extra_css%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/backoffice/css/survey_list.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/fonts/fonts-min.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/button/assets/skins/sam/button.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/container/assets/skins/sam/container.css"/>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}/yui2/build/datatable/assets/skins/sam/datatable.css">

{%endblock extra_css%}

{%block content%}
<div id="myMarkedUpContainer">
    <table id="myTable">
        <thead>
        <tr>
            <th>序列号</th>
            <th>问卷主题</th>
            <th>调查目标</th>
            <th>已参加调查人数</th>
            <th>创建时间</th>
            <th>问卷状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>培训计划调查</td>
            <td>全公司(98人)</td>
            <td>80</td>
            <td>调查进行中</td>
            <td>2012-09-12</td>
            <td><a href="">查看</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>公司培训反馈</td>
            <td>信息技术部 (30人)</td>
            <td>30</td>
            <td>问卷创建完成</td>
            <td>2012-09-12</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>工福利期望</td>
            <td>市场部 (20人)</td>
            <td>20</td>
            <td><a href="/backoffice/survey/create">继续编辑</a></td>
            <td>2012-09-12</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
{%endblock content%}


{%block extra_js%}
<script src="{{STATIC_URL}}/yui2/build/element/element-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/button/button-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/container/container-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/connection/connection-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/datasource/datasource-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/datatable/datatable-min.js"></script>
{%endblock extra_js%}


{%block right_head_menu%}
    <button id="add_survey_button"></button>
{%endblock right_head_menu%}

{%block extra_html_content%}
<div id="add_survey_dialog" style="display:none;width:500px;text-align: left;font-size: 14px;">
    <div class="hd">
        添加问卷调查
    </div>
    <div class="bd">
        <form action="#" method="POST">
            <div>
                <span style="padding-right: 10px;">调查主题:</span><input type="text" name="theme"></input>
            </div>
            <div style="padding-top: 15px;">
            <span style="padding-right: 10px;">调查对象:</span>
            <select>
                <option>全 体 员 工</option>
                <option>技 术 信 息 部</option>
                <option>市场部</option>
                <option>产品运营部</option>
            </select>
            </div>
        </form>
        <div style="padding-top: 15px">
            <button >创 建</button>
        </div>
    </div>
</div>
{%endblock extra_html_content%}

{%block js_content%}
<script type="text/javascript">



    function init(){
        new YAHOO.widget.Button("add_survey_button", {label:"添加调查问卷"});
        var addSurveyDialog = new YAHOO.widget.Panel('add_survey_dialog', {close:true, fixedcenter:true, draggable:false, modal:true});
        addSurveyDialog.render();
        addSurveyDialog.hide();
        YAHOO.util.Dom.setStyle("add_survey_dialog", "display", "block");

        var displayAddSurveyDialog = function(){
            addSurveyDialog.show();
        }

        YAHOO.util.Event.addListener("add_survey_button", "click", displayAddSurveyDialog);
        var myDataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("myTable"));
        myDataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        myDataSource.responseSchema = {
            fields: [
                { key: "id", parser:"number" },
                { key: "theme" },
                { key: "object" },
                { key: "number" },
                { key: "status" },
                { key: "createDate" },
                { key: "result"}
            ]
        };

        var myColumnDefs = [
            { key: "id",label:"序列号" },
            { key: "theme",width:300,label:"问卷主题" },
            { key: 'object',label:"调查目标",width:150 },
            { key: 'number',label:"已完成调查人数" },
            { key: "status",label:"问卷状态",formatter:"HTMLFunction" },
            { key: "createDate",label:"创建时间"},
            { key: "result",label:"调查结果",formatter:"HTMLFunction"}
        ];
        var myDataTable = new YAHOO.widget.DataTable("myMarkedUpContainer",myColumnDefs,myDataSource);
    }

    YAHOO.util.Event.onDOMReady(init);
</script>
{%endblock js_content%}