{% extends "backoffice/backofficeBasePage.html" %}
{%block title%}
创建调查表格
{%endblock title%}

{%block extra_css%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/backoffice/css/survey_add.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/fonts/fonts-min.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/button/assets/skins/sam/button.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/container/assets/skins/sam/container.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/yui2/build/paginator/assets/skins/sam/paginator.css">
<style type="text/css">
    body {
        background-image: none;
    }

    tr {
        border: 0px;
    }

    td {
        border: 0px;
    }

    table {
        width: 100%;
    }
</style>
{%endblock extra_css%}


{%block content%}
<div style="padding-left: 10px;">
<h2>
    {{survey.survey_name}}
</h2>

<div id="questionArea">
    {% for survey_item in surveyItemCollection %}
        {% if survey_item.item_type == 'MULTIPLE_CHOICE' %}
            {% include "backoffice/survey_item_display_template/multiple_choice_query_template.html" with survey_item=survey_item idx=forloop.counter survey=survey%}
        {% endif %}

        {% if survey_item.item_type == 'SINGLE_CHOICE' %}
            {% include "backoffice/survey_item_display_template/single_choice_query_template.html" with survey_item=survey_item idx=forloop.counter survey=survey%}
        {% endif %}

        {% if survey_item.item_type == 'TEXT' %}
            {% include "backoffice/survey_item_display_template/text_query_template.html" with survey_item=survey_item idx=forloop.counter survey=survey survey=survey%}
        {% endif %}

        {% if survey_item.item_type == 'TEXT_AREA' %}
            {% include "backoffice/survey_item_display_template/textarea_query_template.html" with survey_item=survey_item idx=forloop.counter survey=survey%}
        {% endif %}

        {% if survey_item.item_type == 'MULTIPLE_TEXT' %}
            {% include "backoffice/survey_item_display_template/multi_text_query_template.html" with survey_item=survey_item idx=forloop.counter survey=survey%}
        {% endif %}


        {% if survey_item.item_type == 'METRIX' %}
            {% include "backoffice/survey_item_display_template/metrix_query_template.html" with survey_item=survey_item idx=forloop.counter survey=survey%}
        {% endif %}
    {% endfor %}

</div>
<div style="padding-top: 20px;">
    {% if survey.survey_status == 'FINISH'%}
        <button id="endQuestion">进行问卷调查</button>
    {% endif %}
    {% if survey.survey_status == 'CONTINUE'%}

    {% endif %}
    {% if survey.survey_status == 'EDIT'%}
        <button id="addQuestion" class="add_question_button">添加问卷项目</button>
        <button id="completeQuestion">完成问卷编辑</button>
    {% endif %}
</div>
</div>

<div class="pageListBottom">
    <!--<div style="float: left;padding-left: 10px;">-->
        <!--<button id="addNewPage">增加页面</button>-->
    <!--</div>-->
    <!--<div style="float: left;;padding-left: 15px;">-->
        <!--<button id="deletePage">删除最后一页</button>-->
    <!--</div>-->
    <div style="float: right;padding-right: 10px;" id="pagePanel"></div>
    <div style="clear: both;"></div>
</div>
{%endblock content%}

{%block extra_html_content%}
<div id="add_survey_question_dialog" style="display:none;width:600px;text-align: left;font-size: 14px;">
    <div class="bd">
        <div>
            <h5 style="color: #87A32E; font-size: 16px;">问题名称:</h5>
            <textarea id="survey_item_text" style="padding-top:5px;width: 500px;height: 50px;"></textarea>
        </div>
        <div>
            <h5 style="color: #87A32E; font-size: 16px; padding-top: 10px;">问题类型:</h5>
            <select style="width: 200px;" id="question_type_selector">
                <option>--选择一个问题类型--</option>
                <option value="single_choice_survey_item">单项选择(使用按钮)</option>
                <option value="multi_choice_survey_item">多项选择（使用按钮)</option>
                <option value="text_survey_item">输入框（输入一行)</option>
                <option value="textarea_survey_item">输入框（多行输入)</option>
                <option value="multi_text_survey_item">多行输入框</option>
                <option value="metrix_survey_item">矩阵显示</option>
            </select>
        </div>
        <div id="quest_content" style="padding-top: 20px;padding-bottom: 15px;">

        </div>
        <button id="submit_question">提交问题</button>
        <button id="close_panel">取消</button>
        <input type="hidden" id="survey_id" value="{{survey.id}}"></input>
        <input type="hidden" id="page_num" value="{{pageNum}}"></input>
    </div>
</div>

<!--<div id="edit_survey_question_dialog" style="display:none;width:600px;text-align: left;font-size: 14px;">-->
    <!--<div class="bd">-->
        <!--<div>-->
            <!--<h5 style="color: #87A32E; font-size: 16px;">问题名称:</h5>员工福利调查-->
        <!--</div>-->
        <!--<div>-->
            <!--<h5 style="color: #87A32E; font-size: 16px; padding-top: 10px;">问题类型:</h5>-->
            <!--<select style="width: 200px;" id="edit_question_type_selector">-->
                <!--<option>--选择一个问题类型--</option>-->
                <!--<option value="single_choice_survey_item">单项选择(使用按钮)</option>-->
                <!--<option value="multi_choice_survey_item">多项选择（使用按钮)</option>-->
                <!--<option value="text_survey_item">输入框（允许输入多行)</option>-->
                <!--<option value="metrix">矩阵显示（选择多个答案)</option>-->
                <!--<option value="metrix">矩阵显示（选择一个答案,用按钮选择)</option>-->
                <!--<option value="metrix">矩阵显示（选择一个答案,用下拉框选择)</option>-->
                <!--<option value="text_survey_item">输入框（一行输入框)</option>-->
                <!--<option value="multi_text_area">输入框（多行输入框)</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div id="edit_quest_content" style="padding-top: 20px;padding-bottom: 15px;">-->

        <!--</div>-->

        <!--<button id="edit_question">修改问题</button>-->
    <!--</div>-->
<!--</div>-->

{% include "backoffice/survey_item_template/multi_choice_survey_item.html" %}
{% include "backoffice/survey_item_template/single_choice_survey_item.html" %}
{% include "backoffice/survey_item_template/text_survey_item.html" %}
{% include "backoffice/survey_item_template/textarea_survey_item.html" %}
{% include "backoffice/survey_item_template/multi_text_survey_item.html" %}
{% include "backoffice/survey_item_template/metrix_survey_item.html" %}
{%endblock extra_html_content%}

{%block extra_js%}
<script src="{{STATIC_URL}}/yui2/build/element/element-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/button/button-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/container/container-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/connection/connection-min.js"></script>
<script src="{{STATIC_URL}}/yui2/build/paginator/paginator-min.js"></script>
{%endblock extra_js%}

{%block js_content%}
<script type="text/javascript">

    var genericCallBack = {
        success:function (o) {
            location.reload();
        },
        failure:function (o) {
            alert("程序异常，请重新尝试或联系管理员");
            location.reload();
        }
    };

    function handlePagination(newState) {
        location.href="/backoffice/survey/edit/{{survey.id}}/"+newState.page;
    }

    function completeQuestion() {
        location.href="/backoffice/survey/complete/{{survey.id}}";
    }

    function endQuestion() {
        location.href="/backoffice/survey/end/{{survey.id}}";
    }

    function addPage() {
        YAHOO.util.Connect.asyncRequest('POST', '/backoffice/survey/addPage/' + {{survey.id}},genericCallBack);
    }

    function deletePage() {
        location.href= '/backoffice/survey/page/delete/' + {{survey.id}};
    }

    init = function () {
        var addQuestion = function () {
            addSurveyQuestionDialog.show();
        },
        closePanel = function() {
            location.reload();
        },
//                editQuestion = function () {
//                    editSurveyQuestionDialog.show();
//                },
                changeQuestionType = function () {

                    var questionContentArea = YAHOO.util.Dom.get("quest_content"),
                            areaId = YAHOO.util.Dom.get("question_type_selector").value;
                    questionContentArea.innerHTML = "";
                    questionContentArea.innerHTML = YAHOO.util.Dom.get(areaId).innerHTML;
                },
        addSurveyQuestionDialog = new YAHOO.widget.Panel('add_survey_question_dialog', {close:false, fixedcenter:true, draggable:false, modal:true});
        addSurveyQuestionDialog.render();
        addSurveyQuestionDialog.hide();
        YAHOO.util.Dom.setStyle("add_survey_question_dialog", "display", "block");
//        var editSurveyQuestionDialog = new YAHOO.widget.Panel('edit_survey_question_dialog', {close:true, fixedcenter:true, draggable:false, modal:true});
//        editSurveyQuestionDialog.render();
//        editSurveyQuestionDialog.hide();
//        YAHOO.util.Dom.setStyle("edit_survey_question_dialog", "display", "block");

        new YAHOO.widget.Button("addQuestion");
        new YAHOO.widget.Button("completeQuestion");
        new YAHOO.widget.Button("endQuestion");
        new YAHOO.widget.Button("close_panel");
        new YAHOO.widget.Button("submit_question");

        new YAHOO.widget.Button("addNewPage");
        new YAHOO.widget.Button("deletePage");
        new YAHOO.widget.Button("pushbutton");
        YAHOO.util.Event.addListener("addQuestion", "click", addQuestion);
        YAHOO.util.Event.addListener("completeQuestion", "click", completeQuestion);
        YAHOO.util.Event.addListener("endQuestion", "click", endQuestion);
        YAHOO.util.Event.addListener("close_panel", "click", closePanel);
        YAHOO.util.Event.addListener("question_type_selector", "change", changeQuestionType);

        YAHOO.util.Event.addListener("submit_question-button", "click", function () {

            var select_type = YAHOO.util.Dom.get("question_type_selector").value;
            eval(select_type + "()");
            addSurveyQuestionDialog.hide();
        });



//        YAHOO.util.Event.addListener("pushbutton", "click", editQuestion);
        YAHOO.util.Event.addListener("addNewPage", "click", addPage);
        YAHOO.util.Event.addListener("deletePage", "click", deletePage);


        var pag = new YAHOO.widget.Paginator();

        pag.set('rowsPerPage', 1);
        pag.set('totalRecords', {{survey.total_page}});
        pag.set('recordOffset', YAHOO.util.Dom.get("page_num").value-1);
        pag.set('containers', "pagePanel");
        pag.render();
        pag.subscribe('changeRequest', handlePagination);


        var deleteButtonsList = YAHOO.util.Dom.getElementsByClassName("deleteButton");
        for(i=0;i<deleteButtonsList.length;i++) {
            deleteButton = deleteButtonsList[i];
            buttonId = deleteButton.id;
            new YAHOO.widget.Button(buttonId);

            YAHOO.util.Event.addListener(buttonId+"-button", "click", deleteSurvey);
        }

//
//        new YAHOO.widget.Button("edit_question");
//        YAHOO.util.Event.addListener("edit_question_type_selector", "change", changeEditQuestionType);
//
//        YAHOO.util.Event.addListener(" edit_question-button", "click", function () {
//            editSurveyQuestionDialog.hide();
//        });
    }

    function  changeEditQuestionType() {
        var questionContentArea = YAHOO.util.Dom.get("edit_quest_content"),
                areaId = YAHOO.util.Dom.get("edit_question_type_selector").value;
        questionContentArea.innerHTML = "";
        questionContentArea.innerHTML = YAHOO.util.Dom.get(areaId).innerHTML;
    }


    function deleteSurvey()
    {
        YAHOO.util.Connect.asyncRequest('POST', '/backoffice/survey/delete/'+this.id.substr(0, this.id.indexOf("_")),genericCallBack);
    }

    YAHOO.util.Event.onDOMReady(init)
</script>
{%endblock js_content%}